<div class="well-form">
  <%= simple_nested_form_for(@volunteer, default_form_options) do |f| %>
      <%= show_simple_base_errors(f) %>
      <%= hidden_field_tag :rt_volunteer_subscribe_id, params[:rt_volunteer_subscribe_id] %>

  <div class="form-inputs">
    <div class="row well">
      <div class="col-md-12">
        <div class="logo_block col-md-2">
          <%= show_simple_base_errors(f) %>
          <%= f.simple_fields_for :logo, (f.object.logo || f.object.build_logo) do |f_logo|  %>
            <%= render partial: 'links/logo', locals: { f: f_logo } %>
          <% end %>
        </div> <!-- logo_block -->
        <div class="col-md-10">
          <%= f.input :name, wrapper_html: { class: 'col-md-6' } %>
          <%= f.input :last_name, wrapper_html: { class: 'col-md-6' } %>
          <%= f.input :last_name_alt, wrapper_html: { class: 'col-md-6' } %>
          <%= f.association :nationality, wrapper_html: { class: 'col-md-6' } %>
          <%= f.input :gender, wrapper_html: { class: 'col-md-6' } %>
          <%= f.input :birth_date, as: :string, input_html: date_input_html(f.object.birth_date), wrapper_html: { class: 'col-md-6' } %>
        </div>
      </div>
    </div>
    <div class="row well">
      <%= f.association :id_number_type, wrapper_html: { class: 'col-md-5' } %>
      <%= f.input :id_number, input_html: { class: 'vat_num', data: { mask: 'wwwwwwwww'} }, wrapper_html: { class: 'col-md-5' } %>
    </div>
    <div class="phone row well">
      <%= f.input :email, wrapper_html: { class: 'col-md-6' } %>
      <%= f.input :phone_number, input_html: { data: { mask: '999999999'} }, wrapper_html: { class: 'col-md-3' } %>
      <%= f.input :phone_number_alt, input_html: { data: { mask: '999999999'} }, wrapper_html: { class: 'col-md-3' } %>
    </div>
    <div class="row well">
      <%= f.association :profession, wrapper_html: { class: 'col-md-4' } %>
      <%= f.association :status, wrapper_html: { class: 'col-md-4' } %>
      <%= f.association :employment_status, wrapper_html: { class: 'col-md-4' } %>
    </div>
    <div class="row well">
      <%= f.input :available, input_html: {onClick: 'setAvailDate()'}, wrapper_html: { class: 'col-md-6' } %>
      <%= f.input :availability_date, as: :string, input_html: date_input_html(f.object.availability_date), wrapper_html: { class: 'col-md-6' } %>
    </div>
    <div class="row well">
      <%= content_tag :h3, InfoSource.model_name.human, class: 'form-subtitle' %>
      <%= f.association :info_source, wrapper_html: { class: 'col-md-12' } %>
    </div>
    <div class="row well">
      <%= content_tag :h3, Degree.model_name.human(count: 2), class: 'form-subtitle' %>
      <div class="row well col-md-12">
        <%= f.association :academic_level, wrapper_html: { class: 'col-md-6' } %>
      </div>
      <%= f.simple_fields_for :degrees do |f_degrees|  %>
        <div class="row well-no-border col-md-12">
          <div class="row">
              <%= f_degrees.association :degree_type, wrapper_html: { class: 'col-md-6' },
                                                      input_html: { onchange: 'filterDegree(this.id);' }%>
              <div class='col-md-6'>
                <%= label_tag Degree.human_attribute_name(:name), nil, class: 'col-sm-5 control-label select required' %>
                <div class='col-sm-7'>
                  <%= f_degrees.select :name, Degree.filter_by_degree_type_id(f_degrees.object.degree_type_id),
                                              {}, { class: 'form-control' } %>
                </div>
              </div>
              <%= f_degrees.link_to_remove build_icon('trash-o', text: "#{Degree.model_name.human}"), class: 'pull-right' %>
          </div> <!-- degree-fields -->
        </div>
      <% end %>
      <p><%= f.link_to_add icon_new(text: "#{Degree.model_name.human}"), :degrees, class: 'btn' %></p>
      <div class="row well col-md-12">
        <%= f.input :other_academic_info, wrapper_html: { class: 'col-md-6' } %>
      </div>
    </div>
    <div class="row well">
      <%= content_tag :h3, Volun::KnownLanguage.model_name.human(count: 2), class: 'form-subtitle' %>
      <%= f.simple_fields_for :known_languages do |f_known_languages|  %>
        <div class="row well-no-border col-md-12">
          <div class="row">
              <%= f_known_languages.association :language, wrapper_html: { class: 'col-md-6' } %>
              <%= f_known_languages.association :language_level, wrapper_html: { class: 'col-md-6' } %>
              <%= f_known_languages.link_to_remove build_icon('trash-o', text: "#{Volun::KnownLanguage.model_name.human}"), class: 'pull-right' %>
          </div> <!-- known_language-fields -->
        </div>
      <% end %>
      <p><%= f.link_to_add icon_new(text: "#{Volun::KnownLanguage.model_name.human}"), :known_languages, class: 'btn' %></p>
    </div>
    <div class="row well">
      <%= content_tag :h3, Volun::Availability.model_name.human(count: 2), class: 'form-subtitle' %>
      <%= f.simple_fields_for :availabilities do |f_availabilities|  %>
        <div class="row well-no-border col-md-12">
          <div class="row">
              <%= f_availabilities.input :day, wrapper_html: { class: 'col-md-4' } %>
              <%= f_availabilities.input :start_hour, input_html: { class: 'm-width70', data: { mask: '99:99'} }, wrapper_html: { class: 'col-md-4' } %>
              <%= f_availabilities.input :end_hour, input_html: { class: 'm-width70', data: { mask: '99:99'} }, wrapper_html: { class: 'col-md-4' } %>
              <%= f_availabilities.link_to_remove build_icon('trash-o', text: "#{Volun::Availability.model_name.human}"), class: 'pull-right' %>
          </div> <!-- availability-fields -->
        </div>
      <% end %>
      <p><%= f.link_to_add icon_new(text: "#{Volun::Availability.model_name.human}"), :availabilities, class: 'btn' %></p>
    </div>
    <div class="row well">
      <%= content_tag :h3, Volun::Assessment.model_name.human(count: 2), class: 'form-subtitle' %>
      <%= f.simple_fields_for :assessments do |f_assessments|  %>
        <div class="row well col-md-12">
          <div class="row">
              <%= f_assessments.association :trait, input_html: { onchange: "showComments(this.id);" }, wrapper_html: { class: 'col-md-6' } %>
              <%= hidden_field_tag "others", t('others') %>
              <%= f_assessments.input :trait_other, wrapper_html: { hidden: true, class: 'col-md-6' }  %>
              <%= f_assessments.link_to_remove build_icon('trash-o', text: "#{Volun::Assessment.model_name.human}"), class: 'pull-right' %>
          </div> <!-- assessment-fields -->
        </div>
      <% end %>
      <p><%= f.link_to_add icon_new(text: "#{Volun::Assessment.model_name.human}"), :assessments, class: 'btn' %></p>
    </div>
    <div class="row well">
      <%= f.input :agreement, input_html: {onClick: 'setAgrmtDate()'}, wrapper_html: { class: 'col-md-6' } %>
      <%= f.input :agreement_date, as: :string, input_html: date_input_html(f.object.agreement_date), wrapper_html: { class: 'col-md-6' } %>
    </div>
    <div class="row well">
      <%= f.input :vocne, wrapper_html: { class: 'col-md-3' } %>
      <%= f.input :search_authorization, wrapper_html: { class: 'col-md-3' } %>
      <%= f.input :representative_statement, wrapper_html: { class: 'col-md-3' } %>
      <%= f.input :has_driving_license, wrapper_html: { class: 'col-md-3' } %>
    </div>
    <% unless f.object.new_record? %>
        <div class="row well">
          <%= f.input :subscribe_date, as: :string, input_html: date_input_html(f.object.subscribe_date), wrapper_html: { class: 'col-md-4' } %>
          <%= f.input :unsubscribe_date, as: :string, input_html: date_input_html(f.object.unsubscribe_date), wrapper_html: { class: 'col-md-4' } %>
          <%= f.association :unsubscribe_reason, wrapper_html: { class: 'col-md-4' } %>
        </div>
    <% end %>
    <div class="row well">
      <%= f.input :comments, wrapper_html: { class: 'col-md-6' } %>
      <%= f.input :expectations, wrapper_html: { class: 'col-md-6' } %>
    </div>
    <div class="row">
      <div class="well col-md-12">
        <%= content_tag :h3, Skill.model_name.human(count: 2), class: 'form-subtitle' %>
        <%= f.association :skills, as: :check_boxes, label: false, item_wrapper_class: 'checkbox-inline checkbox-custom' %>
      </div>
    </div>
    <div class="row">
      <div class="well col-md-12">
        <%= content_tag :h3, Area.model_name.human(count: 2), class: 'form-subtitle' %>
        <%= f.association :areas, as: :check_boxes, label: false, item_wrapper_class: 'checkbox-inline checkbox-custom' %>
      </div>
    </div>
    <div class="row">
      <div class="well col-md-12">
        <%= content_tag :h3, Collective.model_name.human(count: 2), class: 'form-subtitle' %>
        <%= f.association :collectives, as: :check_boxes, label: false, item_wrapper_class: 'checkbox-inline checkbox-custom' %>
      </div>
    </div>
    <div class="row well">
      <%= content_tag :h3, Address.model_name.human, class: 'form-subtitle' %>
      <%= f.simple_fields_for :address, (f.object.address.presence || f.object.build_address) do |f_address|  %>
          <%= render partial: 'addresses/form_fields', locals: { f: f_address } %>
      <% end %>
    </div>
    <% if @volunteer.persisted? && f.object.reload.review? %>
      <%= f.input :review, as: :hidden, input_html: { id: 'review' } %>
      <div class="row well">
        <%= content_tag :h3, t('errors_title_volun'), class: 'form-subtitle' %>
        <% unless f.object.error_address.blank? %>
          <input type="hidden" id="err_add_val" value="<%= f.object.error_address %>" />
          <div class='row'>
            <%= f.input :error_address, wrapper_html: { class: 'col-md-6' } %>
            <div class='col-md-6'>
              <%= check_box_tag('rev_add', t('revised'), false) %>
              <label style='font-weight: normal;'>
                <%= t('revised') %>
              </label>
            </div>
          </div>
        <% end %>
        <% unless f.object.error_other.blank? %>
          <input type="hidden" id="err_oth_val" value="<%= f.object.error_other %>" />
          <div class='row'>
          <%= f.input :error_other, wrapper_html: { class: 'col-md-6' } %>
            <div class='col-md-6'>
              <%= check_box_tag('rev_oth', t('revised'), false) %>
              <label style='font-weight: normal;'>
                <%= t('revised') %>
              </label>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>


    <div class="row">
      <% if @volunteer.persisted? && f.object.reload.projects.any? %>
        <div class="well col-md-12">
          <%= content_tag :h3, t('associated_projects'), class: 'form-subtitle' %>
          <div class="with-scroll-bar">
            <%= f.association :projects, as: :check_boxes, collection: f.object.projects, label: false, item_wrapper_class: 'checkbox-inline checkbox-custom' %>
          </div>
          <table class="index-table">
            <thead>
              <tr>
                <th><%= Project.human_attribute_name(:name) %></th>
                <th><%= Project.human_attribute_name(:description) %></th>
                <th><%= t('actions') %></th>
              </tr>
            </thead>
            <tbody>
              <% f.object.projects.each do |project| %>
                  <tr>
                    <td><%= project.name %></td>
                    <td><%= project.description %></td>
                    <td>
                      <%= link_to_show(project.pt_extendable || project) %>
                      <%= link_to_trackings(f.object, "volun", project) %>
                    </td>
                  </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
      <div class="well col-md-12">
        <%= content_tag :h3, t('not_associated_projects'), class: 'form-subtitle' %>
        <% if @volunteer.persisted? && f.object.reload.projects.any? %>
          <%= f.association :projects, as: :select, collection: f.object.unassociated_projects, as: :select, label: false, input_html: { class: 'wide-select col-md-12' } %>
        <% else %>
          <%= f.association :projects, as: :select, label: false, input_html: { class: 'wide-select col-md-12' } %>
        <% end %>
      </div>
    </div>
    <div class="row well">
      <%= content_tag :h3, Volun::AssessmentsProject.model_name.human(count: 2), class: 'form-subtitle' %>
      <%= f.simple_fields_for :assessments_projects do |f_assessments_projects|  %>
        <div class="row well col-md-12">
          <div class="row">
              <%= f_assessments_projects.association :project, wrapper_html: { class: 'col-md-4' } %>
              <%= f_assessments_projects.association :trait, input_html: { onchange: "showComments(this.id);" }, wrapper_html: { class: 'col-md-4' } %>
              <%= hidden_field_tag "others", t('others') %>
              <%= f_assessments_projects.input :trait_other, wrapper_html: { hidden: true, class: 'col-md-4' }  %>
              <%= f_assessments_projects.link_to_remove build_icon('trash-o', text: "#{Volun::AssessmentsProject.model_name.human}"), class: 'pull-right' %>
          </div> <!-- assessment-project-fields -->
        </div>
      <% end %>
      <p><%= f.link_to_add icon_new(text: "#{Volun::AssessmentsProject.model_name.human}"), :assessments_projects, class: 'btn' %></p>
    </div>
    <%= render partial: 'links/documents', locals: { f: f } %>
  </div>

  <div class="form-actions">
    <% if @volunteer.persisted? && f.object.reload.review? %>
      <input type="hidden" value="<%= t('messages.confirm_revised_all_volunteer') %>" id="reviseAllMsg" />
      <input type="hidden" value="<%= t('messages.confirm_revised_volunteer') %>" id="reviseMsg" />
    <% end %>
    <%= f.button :submit, class: 'btn btn-success js-confirmable', id: 'submit' %>
    <%= link_to build_icon('repeat', text: t('messages.undo_changes')), '', class: 'undo js-reloadable' %>
  </div>
    <% if @volunteer.persisted? && f.object.reload.review? %>
      <script>
        // These validations have effect only if review is 1
        // Submit check specific revisions
        var reviseAllMsg = $("#reviseAllMsg").val();
        var reviseMsg = $("#reviseMsg").val();
        var confirm_submit = function () {
          $('.js-confirmable').closest('form').submit(function() {
            if ($("#err_add_val").length > 0 && $("#err_oth_val").length > 0) {
              if ($("#rev_add").is(':checked') && $("#rev_oth").is(':checked')) {
                var c = confirm(reviseAllMsg);
                $("#review").val(0);
                return c;
              } else {
                var c = confirm(reviseMsg);
                return c;
              }
            } else {
              if ($("#err_add_val").length > 0 || $("#err_oth_val").length > 0) {
                if ($("#rev_add").is(':checked') || $("#rev_oth").is(':checked')) {
                  var c = confirm(reviseAllMsg);
                  $("#review").val(0);
                  return c;
                } else {
                  var c = confirm(reviseMsg);
                  return c;
                }
              }
            }
          });
        };
      </script>
    <% end %>
  <% end %>
</div>
