<div class="well">
  <%= simple_form_for(@volunteer, default_form_options) do |f| %>
      <%= show_simple_base_errors(f) %>
      <%= hidden_field_tag :rt_volunteer_subscribe_id, params[:rt_volunteer_subscribe_id] %>

  <div class="form-inputs">
    <div class="row well">
      <div class="col-md-12">
        <div class="row">
          <%= f.input :name, wrapper_html: { class: 'col-md-4' } %>
          <%= f.input :last_name, wrapper_html: { class: 'col-md-4' } %>
          <%= f.input :last_name_alt, wrapper_html: { class: 'col-md-4' } %>
        </div>
        <div class="row">
          <%= f.association :nationality, wrapper_html: { class: 'col-md-4' } %>
          <%= f.input :gender, wrapper_html: { class: 'col-md-4' } %>
          <%= f.input :birth_date, as: :string, input_html: date_input_html(f.object.birth_date), wrapper_html: { class: 'col-md-4' } %>
        </div>
      </div>
    </div>
    <div class="row well">
      <%= f.association :id_number_type, wrapper_html: { class: 'col-md-4' } %>
      <%= f.input :id_number, input_html: { data: { mask: 'wwwwwwwww'} }, wrapper_html: { class: 'col-md-6' } %>
    </div>
    <div class="row well">
      <%= f.input :email, wrapper_html: { class: 'col-md-4' } %>
      <%= f.input :phone_number, input_html: { data: { mask: '999999999'} }, wrapper_html: { class: 'col-md-4' } %>
      <%= f.input :phone_number_alt, input_html: { data: { mask: '999999999'} }, wrapper_html: { class: 'col-md-4' } %>
    </div>
    <div class="row well">
      <%= f.association :status, wrapper_html: { class: 'col-md-6' } %>
      <%= f.association :employment_status, wrapper_html: { class: 'col-md-6' } %>
    </div>
    <div class="row well">
      <%= f.association :academic_level, wrapper_html: { class: 'col-md-6' } %>
      <%= f.input :other_academic_info, wrapper_html: { class: 'col-md-6' } %>
    </div>
    <div class="row well">
      <%= f.input :available, input_html: {onClick: 'setAvailDate()'}, wrapper_html: { class: 'col-md-6' } %>
      <%= f.input :availability_date, as: :string, input_html: date_input_html(f.object.availability_date), wrapper_html: { class: 'col-md-6' } %>
    </div>
    <div class="row well">
      <%= f.input :agreement, input_html: {onClick: 'setAgrmtDate()'}, wrapper_html: { class: 'col-md-6' } %>
      <%= f.input :agreement_date, as: :string, input_html: date_input_html(f.object.agreement_date), wrapper_html: { class: 'col-md-6' } %>
    </div>
    <div class="row well">
      <%= f.input :vocne, wrapper_html: { class: 'col-md-3' } %>
      <%= f.input :search_authorization, wrapper_html: { class: 'col-md-3' } %>
      <%= f.input :representative_statement, wrapper_html: { class: 'col-md-3' } %>
      <%= f.input :has_driving_license, wrapper_html: { class: 'col-md-3' } %>
    </div>
    <div class="row well">
      <%= f.association  :manager, wrapper_html: { class: 'col-md-6' } %>
      <%= f.association :profession, wrapper_html: { class: 'col-md-6' } %>
    </div>
    <% unless f.object.new_record? %>
        <div class="row well">
          <%= f.input :subscribe_date, as: :string, input_html: date_input_html(f.object.subscribe_date), wrapper_html: { class: 'col-md-4' } %>
          <%= f.input :unsubscribe_date, as: :string, input_html: date_input_html(f.object.unsubscribe_date), wrapper_html: { class: 'col-md-4' } %>
          <%= f.association :unsubscribe_reason, wrapper_html: { class: 'col-md-4' } %>
        </div>
    <% end %>
    <div class="row well">
      <%= f.input :comments, wrapper_html: { class: 'col-md-6' } %>
      <%= f.input :expectations, wrapper_html: { class: 'col-md-6' } %>
    </div>
    <div class="row">
      <div class="well col-md-12">
        <%= content_tag :h3, Skill.model_name.human(count: 2), class: 'form-subtitle' %>
        <%= f.association :skills, as: :check_boxes, label: false, item_wrapper_class: 'checkbox-inline checkbox-custom' %>
      </div>
    </div>

    <div class="address-block row well">
      <%= content_tag :h3, Address.model_name.human, class: 'form-subtitle' %>
      <%= f.simple_fields_for :address, (f.object.build_address if f.object.address.blank?) do |f_address|  %>
          <%= show_simple_base_errors(f_address) %>
          <div class="address-fields col-md-12">
            <div class="row row-4-1">
              <% normalize = f_address.object.normalize %>
              <%= f_address.input :normalize, as: :boolean, input_html: { class: 'js-normalize' }, wrapper_html: { class: 'pull-right col-md-3' } %>
            </div>
          </div>
          <div class="address-fields col-md-12">
            <div class="row row-4-1">
              <%= f_address.input :country, as: :string,  input_html: { value: (f_address.object.country || Setting['default_country']), readonly: true, class: 'js-country' }, wrapper_html: { class: 'col-md-3' } %>
              <%= f_address.input :province, input_html: { value: (f_address.object.province || Setting['default_province']), readonly: true, class: 'js-province' }, wrapper_html: { class: 'col-md-4' } %>
              <%= f_address.input :town, input_html: { class: 'js-town', data: { 'js-search-towns-url' => bdc_search_towns_addresses_url } }, wrapper_html: { class: 'col-md-5' } %>
            </div>
            <div class="row row-4-1">
              <%= f_address.input :road_type, collection: Setting.road_types, input_html: { readonly: normalize }, wrapper_html: { class: 'col-md-3 js-road_type' } %>
              <%= f_address.input :road_name, input_html: { class: 'js-road_name', data: { 'js-search-road-names-url' => bdc_search_roads_addresses_url } }, wrapper_html: { class: 'road_name col-md-9' } %>
            </div>
            <div class="row row-4-2">
              <%= f_address.input :road_number_type, input_html: { class: 'm-width250 js-road_number_type', readonly: normalize }, wrapper_html: { class: 'col-md-3' } %>
              <%= f_address.input :road_number, collection: [f_address.object.road_number || ''], input_html: { class: 'm-width250 js-road_number-select', disabled: !normalize }, wrapper_html: { class: 'col-md-3 js-road_number-select-wrapper', hidden: !normalize } %>
              <%= f_address.input :road_number, input_html: { class: 'm-width250 js-road_number-input', data: { 'js-search-road-numbers-url' => bdc_search_road_numbers_addresses_url }, disabled: normalize }, wrapper_html: { class: 'col-md-3 js-road_number-input-wrapper', hidden: normalize } %>
              <%= f_address.input :grader, input_html: { class: 'm-width80 js-grader', readonly: normalize }, wrapper_html: { class: 'col-md-3' } %>
              <%= f_address.input :postal_code, input_html: { class: 'js-postal_code', readonly: normalize, data: { mask: '99999'} }, wrapper_html: { class: 'postal_code col-md-3' } %>
            </div>
            <div class="row row-4-3">
              <%= f_address.input :stairs, input_html: { class: 'm-width250 js-stairs' }, wrapper_html: { class: 'col-md-3' } %>
              <%= f_address.input :floor, input_html: { class: 'm-width250 js-floor' }, wrapper_html: { class: 'col-md-3' } %>
              <%= f_address.input :door, input_html: { class: 'm-width250 js-door' }, wrapper_html: { class: 'col-md-3' } %>
            </div>
          </div> <!-- address-fields -->
      <% end %>
    </div> <!-- address-block -->
    
    <% if f.object.review? && @volunteer.persisted? %>
      <%= f.input :review, as: :hidden, input_html: { id: 'review' } %>
      <div class="row well">
        <%= content_tag :h3, t('errors_title_volun'), class: 'form-subtitle' %>
        <% if f.object.error_address %>
          <div class='row'>
            <%= f.input :error_address, wrapper_html: { class: 'col-md-6' } %>
            <div class='col-md-6'>
              <%= check_box_tag('rev_add', t('revised'), false) %>
              <label style='font-weight: normal;'>
                <%= t('revised') %>
              </label>
            </div>
          </div>
        <% end %>
        <% if f.object.error_other %>
          <div class='row'>
          <%= f.input :error_other, wrapper_html: { class: 'col-md-6' } %>
            <div class='col-md-6'>
              <%= check_box_tag('rev_oth', t('revised'), false) %>
              <label style='font-weight: normal;'>
                <%= t('revised') %>
              </label>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
    <% if f.object.review? && @volunteer.persisted? %>
      <input type="hidden" value="<%= t('messages.confirm_revised_all_volunteer') %>" id="reviseAllMsg" />
      <input type="hidden" value="<%= t('messages.confirm_revised_volunteer') %>" id="reviseMsg" />
    <% end %>
    <%= f.button :submit, class: 'btn btn-success js-confirmable', id: 'submit' %>
    <%= link_to build_icon('repeat', text: t('messages.undo_changes')), '', class: 'undo js-reloadable' %>
  </div>
    <% if f.object.review? && @volunteer.persisted? %>
      <script>
        // These validations have effect only if review is 1
        // Submit check specific revisions
        var reviseAllMsg = $("#reviseAllMsg").val();
        var reviseMsg = $("#reviseMsg").val();
        var confirm_submit = function () {
          $('.js-confirmable').closest('form').submit(function() {
              if ($("#rev_add").is(':checked') && $("#rev_oth").is(':checked')) {
                var c = confirm(reviseAllMsg);
                $("#review").val(0);
                return c; 
              } else {
                var c = confirm(reviseMsg);
                return c;
              }
          });
        };
      </script>
    <% end %>
  <% end %>
</div>

<script>
  
    // Check date fields one time at rendering;
    setAvailDate();
    setAgrmtDate();
  
    // Disable availability_date if available check is checked
    function setAvailDate() {
      if ($("#volunteer_available").prop("checked")) {
        $("#volunteer_availability_date").attr("disabled", true);
        $("#volunteer_availability_date").val("");
      } else {
        $("#volunteer_availability_date").attr("disabled", false);
      }
    }
    
    // Disable agreement_date if available check is checked
    function setAgrmtDate() {
      if (!$("#volunteer_agreement").prop("checked")) {
        $("#volunteer_agreement_date").attr("disabled", true);
        $("#volunteer_agreement_date").val("");
      } else {
        $("#volunteer_agreement_date").attr("disabled", false);
      }
    }

</script>