<tr class="volun-result" id="<%= dom_id(volunteer) %>" >

  <% volunteer.main_attributes.each do |attr_name| %>
      <td><%= show_attr(volunteer, attr_name) %></td>
  <% end %>

  <td><%= volunteer.address.try :postal_code %></td>
  <td><%= volunteer.address.try :district %></td>

  <td class="index_table-actions">
    <%= link_to_show(volunteer) %>
    <%= link_to_edit(volunteer) %>
<% if volunteer.try(:archived?) %>
    <%= link_to_recover(volunteer) %>
<% else %>
    <%= link_to_destroy(volunteer) %>
<% end %>
    <%= link_to_trackings(volunteer, "volun") %>
  </td>
</tr>
