<tr id="<%= dom_id(volunteer) %>" >

  <% volunteer.main_attributes.each do |attr_name| %>
    <% if attr_name.to_s.eql? "gender" %>
      <td><%= t(show_attr(volunteer.public_send attr_name)) %></td>
    <% else %>
      <td><%= show_attr(volunteer.public_send attr_name) %></td>
    <% end %>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(volunteer) %>
    <%= link_to_edit(volunteer) %>
<% if volunteer.try(:archived?) %>
    <%= link_to_recover(volunteer) %>
<% else %>
    <%= link_to_destroy(volunteer) %>
<% end %>
  </td>
</tr>
