<% model_class = Volunteer %>

<div class="row">
  <div class="col-md-12">
    <%= model_title(model_class) %>
  </div>
</div>
<div class="index-panel row well">
  <div class="col-md-6">
    <%= content_tag(:div, link_to_new(model_class), class: 'col-md-6 pull-left') %>
  </div>
  <div class="col-md-6">
    <%= content_tag(:div, search_collection(@search_q, :full_name_or_id_number_or_phone_number_or_phone_number_alt_or_email_or_comments_or_expectations_or_other_academic_info_cont), class: 'col-md-6 pull-right') %>
  </div>
</div>

<p>Voluntarios: <%= @volunteers.count %></p>

<table class="index-table">
  <thead>
    <tr>
    <% model_class.main_columns.each do |column| -%>
      <th><%= sort_link(@search_q, column, model_class.human_attribute_name(column)) %></th>
    <% end -%>

      <th><%= Address.human_attribute_name(:district) %></th>

      <th class="actions index_table-actions">
        <%= t('actions') %>
      </th>
    </tr>
  </thead>

  <tbody>
    <%= render(partial: 'volunteer', collection: @volunteers)%>
  </tbody>
</table>

<%= render partial: "shared/pagination", locals: {collection: @volunteers} %>
