<% model_class = Volunteer %>

<div class="row">
  <div class="col-md-12">
    <%= model_title(model_class) %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2><%= t('search_filter')%></h2>
  </div>
</div>


<div class="index-panel row well">
  <div class="col-md-12">
    <div class="index-filters col-md-4 form-group select">
      <%= content_tag :label, t('filter').pluralize + ":", for: 'district-select', class: 'col-sm-6 control-label' %>
      <div class="col-sm-6">
        <%= select_tag :address_district, options_for_select(@districts_names), include_blank: t('district'),
                                          class:     'form-control',
                                          id:        'district-select' %>
      </div>
    </div>
    <div class="col-sm-2">
      <%= select_tag :status, options_for_select({ t('active') => :active, t('inactive') => :inactive, t('all') => :all }), include_blank: t('status'),
                              class:     'form-control',
                              id:        'status-select' %>
    </div>
    <div class="status-filter col-md-2 form-group select">
      <%= content_tag :label, t('availability') + ":", for: 'available_day', class: 'col-sm-6 control-label' %>
    </div>
    <div class="col-sm-2" id="day-availability">
      <%= select_tag :availabilities_day, options_for_select(Volun::Availability.days_i18n[:monday] => 1, Volun::Availability.days_i18n[:tuesday] => 2, Volun::Availability.days_i18n[:wednesday] => 3, Volun::Availability.days_i18n[:thursday] => 4, Volun::Availability.days_i18n[:friday] => 5, Volun::Availability.days_i18n[:saturday] => 6, Volun::Availability.days_i18n[:sunday] => 7), multiple: true,
                                          class:     'form-control',
                                          id:        'availability-select' %>
    </div>
    <div class="col-sm-2 pull-right">
      <button type="button" name="button" id="btn-reset" class="btn btn-primary"><%= t('reset_search') %></button>
      <div class="row">
        <button type="button" name="button" id="btn-search" class="btn btn-success btn-search"><%= t('search') %></button>
      </div>
    </div>
  </div>
</div>

<div class="index-panel row well">
  <div class="col-md-6">
    <%= content_tag(:div, link_to_new(model_class), class: 'col-md-6 pull-left') %>
  </div>
  <div class="col-md-6">
    <%= content_tag(:div, search_collection(@search_q, :address_district_or_address_postal_code_or_name_or_last_name_or_last_name_alt_or_full_name_or_id_number_or_phone_number_or_phone_number_alt_or_email_or_other_academic_info_cont, hidden_fields: { status: params[:status], q_address_district_eq: params[:q][:address_district_eq], 'q[availabilities_day_in_all][]' => params[:q][:availabilities_day_in_all] }), class: 'col-md-6 pull-right') %>
  </div>
</div>

<p><%= model_class.model_name.human(count: 2) %>: <%= @volunteers.count %></p>

<table class="index-table">
  <thead>
    <tr>
    <% model_class.main_columns.each do |column| -%>
      <th><%= sort_link(@search_q, column, model_class.human_attribute_name(column)) %></th>
    <% end -%>

      <th><%= Address.human_attribute_name(:postal_code) %></th>
      <th><%= Address.human_attribute_name(:district) %></th>

      <th class="actions index_table-actions">
        <%= t('actions') %>
      </th>
    </tr>
  </thead>

  <tbody>
    <%= render(partial: 'volunteer', collection: @volunteers)%>
  </tbody>
</table>

<%= render partial: "shared/pagination", locals: {collection: @volunteers} %>

<script>

    $("#btn-reset").click(function(){
        $('#q_address_district_or_address_postal_code_or_name_or_last_name_or_last_name_alt_or_full_name_or_id_number_or_phone_number_or_phone_number_alt_or_email_or_other_academic_info_cont').prop('value', "");
        $("#q_address_district_eq").removeAttr('value');
        $(".q_availabilities_day_in_all").removeAttr('value');
        $("#status").removeAttr('value');
        $('.search-form').submit()
    });

    $("#btn-search").click(function(){
        var days = [];
        $('#availability-select option:selected').each(function() {
            days.push(this.value);
        });
        $('.q_availabilities_day_in_all').prop('value',days);
        $('#q_address_district_eq').prop('value', $('#district-select option:selected').val())
        $('#status').prop('value', $('#status-select option:selected').val())
        $('.search-form').submit()
    });

</script>
