<%= main_title(t('sms_service')) %>

<div class="row">
	<div class="col-md-6 pull left">
		<dl class="dl-horizontal">
      <dt><%= Volunteer.model_name.human  %>: </dt>
			<dd><%= @volunteer.id %></dd>
      <dt><%= t('cell_phone') %>:</dt>
			<dd class="phone"><%= @volunteer.phone_number_alt %></dd>
    </dl>
		<div class="form-group">
  		<label for="comment"><%= t('sms') %></label>
			<%= form_for @volunteer, url: send_sms_path, method: :get do |f| %>
				<%= text_area_tag "message", nil, class: "sms-message form-control", row: "5" %>
				<%= hidden_field_tag "volunteer", @volunteer.id %>
				<%= f.submit t('send_sms'), class: 'btn btn-success', id: 'btn-send' %>
			<% end %>
		</div>
	</div>
</div>

<% unless request.xhr? %>
<%= button_to_back %>
<% end %>
