<tr id="<%= dom_id(employment_status) %>" >

  <% employment_status.main_attributes.each do |attr_name| %>
  <td><%= show_attr(employment_status, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(employment_status) %>
    <%= link_to_edit(employment_status) %>
<% if employment_status.try(:archived?) %>
    <%= link_to_recover(employment_status) %>
<% else %>
    <%= link_to_destroy(employment_status) %>
<% end %>
  </td>
</tr>
