<tr id="<%= dom_id(pt_social) %>" >

  <% project.main_attributes.each do |attr_name| %>
  <td><%= show_attr(pt_social.public_send attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(pt_social) %>
    <%= link_to_edit(pt_social) %>
<% if pt_social.try(:archived?) %>
    <%= link_to_recover(pt_social) %>
<% else %>
    <%= link_to_destroy(pt_social) %>
<% end %>
  </td>
</tr>
