<%= main_title("Panel de control") %>

<div class="row">
  <div class="col-md-12">
		<%= main_title("Edición del panel") %>
	</div>
</div>
<div class="row">
  <div class="col-md-12">
		<%= main_title("Vista previa") %>
		<%= link_to 'Refrescar vista previa', 'frontadmin', class:  'btn btn-primary' %>
		<br><br>
		<div style="border-style: outset; border-width: 5px; padding: 0px 15px 0px 15px;">
			<%= render 'index_demo' %>
		</div>
	</div>
</div>