<div class="well">
  <%= simple_form_for(@rt_entity_subscribe, default_form_options) do |f| %>

  <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :vat_number %>
          <%= f.input :email %>
          <%= f.input :representative_name %>
          <%= f.input :representative_last_name %>
          <%= f.input :representative_last_name_alt %>
          <%= f.input :contact_name %>
          <%= f.input :contact_last_name %>
          <%= f.input :contact_last_name_alt %>
          <%= f.input :phone_number %>
          <%= f.input :phone_number_alt %>
          <%= f.input :publish_pictures %>
          <%= f.input :annual_survey %>
          <%= f.association :entity_type %>
          <%= f.input :comments %>
          <%= f.input :other_subscribe_reason %>
          <%= f.input :road_type %>
          <%= f.input :road_name %>
          <%= f.input :number_type %>
          <%= f.input :road_number %>
          <%= f.input :postal_code %>
          <%= f.input :borough %>
          <%= f.input :district %>
          <%= f.input :town %>
          <%= f.input :province %>
          <%= f.input :notes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
</div>