<tr id="<%= dom_id(rt_entity_subscribe) %>" >

  <% rt_entity_subscribe.main_attributes.each do |attr_name| %>
  <td><%= show_attr(rt_entity_subscribe, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(rt_entity_subscribe) %>
    <%= link_to_edit(rt_entity_subscribe) %>
<% if rt_entity_subscribe.try(:archived?) %>
    <%= link_to_recover(rt_entity_subscribe) %>
<% else %>
    <%= link_to_destroy(rt_entity_subscribe) %>
<% end %>
  </td>
</tr>
