<tr id="<%= dom_id(rft_volunteer_amendment) %>" >

  <% rft_volunteer_amendment.main_attributes.each do |attr_name| %>
  <td><%= show_attr(rft_volunteer_amendment.public_send attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(rft_volunteer_amendment) %>
    <%= link_to_edit(rft_volunteer_amendment) %>
<% if rft_volunteer_amendment.try(:archived?) %>
    <%= link_to_recover(rft_volunteer_amendment) %>
<% else %>
    <%= link_to_destroy(rft_volunteer_amendment) %>
<% end %>
  </td>
</tr>
