<tr id="<%= dom_id(road_type) %>" >

  <% project.main_attributes.each do |attr_name| %>
  <td><%= show_attr(road_type.public_send attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(road_type) %>
    <%= link_to_edit(road_type) %>
<% if road_type.try(:archived?) %>
    <%= link_to_recover(road_type) %>
<% else %>
    <%= link_to_destroy(road_type) %>
<% end %>
  </td>
</tr>
