<% model_class = Pt::Subvention %>

<div class="row">
  <div class="col-md-12">
    <%= model_title(model_class) %>
  </div>
</div>
<div class="index-panel row well">
  <div class="col-md-12">
    <%= content_tag(:div, search_collection(@search_q, :representative_name_or_representative_last_name_or_representative_last_name_alt_or_id_num_or_vat_number_cont), class: 'col-md-4 pull-right') %>
  </div>
</div>

<table class="index-table">
  <thead>
    <tr>
    <% model_class.main_columns.each do |column| -%>
      <th><%= sort_link(@search_q, column, model_class.human_attribute_name(column)) %></th>
    <% end -%>

      <th class="actions index_table-actions">
        <%= t('actions') %>
      </th>
    </tr>
  </thead>
  
  <tbody>
    <%= render(partial: 'pt_subvention', collection: @pt_subventions)%>
  </tbody>
</table>

<%= render partial: "shared/pagination", locals: {collection: @pt_subventions} %>