<%= main_title(t("action.show", model: Rt::VolunteerUnsubscribe.model_name.human)) %>
<div class="row">
  <div class="col-md-6">

      <%= simple_form_for(@request_form, default_form_options.merge(url: reject_request_form_rt_other_path)) do |f| %>
          <div class="form-inputs well">
              <%= f.input :id, as: :hidden %>
              <%= f.association :rejection_type %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "#{t('action.reject')} #{RequestForm.model_name.human}", class: 'js-confirmable btn btn-danger' %>
            <%= button_to_back %>
          </div>
      <% end %>

  </div>
</div>
