<tr id="<%= dom_id(request_reason) %>" >

  <% request_reason.main_attributes.each do |attr_name| %>
  <td><%= show_attr(request_reason, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(request_reason) %>
    <%= link_to_edit(request_reason) %>
<% if request_reason.try(:archived?) %>
    <%= link_to_recover(request_reason) %>
<% else %>
    <%= link_to_destroy(request_reason) %>
<% end %>
  </td>
</tr>
