<div class="well">
  <%= simple_nested_form_for(@entity, default_form_options) do |f| %>
      <%= show_simple_base_errors(f) %>
  <div class="form-inputs">
    <div class="row well">
      <div class="col-md-12">
        <div class="logo_block col-md-2">
          <%= f.simple_fields_for :logo, (f.object.logo || f.object.build_logo) do |f_logo|  %>
              <%= show_simple_base_errors(f_logo) %>
              <div class="logo-fields col-md-12">
                <div class="">
                  <%= content_tag :div, image_tag(f_logo.object.file.url(:small), height: '210', width: '210'), class: 'logo-img' %>
                  <%= f_logo.input :file, as: :file, label: false, wrapper_html: { class: '' } %>
                  <%= f_logo.input :link_type_id, as: :hidden, input_html: { value: LinkType.logo.take.id } %>
                </div> <!-- logo-fields -->
              </div>
          <% end %>
        </div> <!-- logo_block -->
      </div>
    </div>
    <div class="row well">
        <%= content_tag :h3, t('main_data'), class: 'form-subtitle' %>
      <div class="row ">
        <div class="col-md-5">
          <%= f.input :name %>
          <%= f.input :vat_number, input_html: { data: { mask: 'w9999999w'}, class: 'vat_num'} %>
        </div>
        <div class="col-md-7">
          <%= f.input :description, wrapper_html: { class: 'col-md-10' } %>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-12">
          <%= f.association :entity_type, wrapper_html: { class: 'col-md-5' } %>
          <%= f.association :reason, wrapper_html: { class: 'col-md-7' } %>
        </div>
      </div>
    </div>
    <div class="phone row well">
      <%= content_tag :h3, t('contact_data'), class: 'form-subtitle' %>
      <%= f.input :email, wrapper_html: { class: 'col-md-6' } %>
      <%= f.input :phone_number, input_html: { data: { mask: '999999999'} }, wrapper_html: { class: 'col-md-3' } %>
      <%= f.input :phone_number_alt, input_html: { data: { mask: '999999999'} }, wrapper_html: { class: 'col-md-3' } %>
    </div>
    <div class="row well">
      <%= content_tag :h3, t('representative'), class: 'form-subtitle' %>
      <%= f.input :representative_name, wrapper_html: { class: 'col-md-4' } %>
      <%= f.input :representative_last_name, wrapper_html: { class: 'col-md-4' } %>
      <%= f.input :representative_last_name_alt, wrapper_html: { class: 'col-md-4' } %>
    </div>
    <div class="row well">
      <%= content_tag :h3, t('contact_person'), class: 'form-subtitle' %>
      <%= f.input :contact_name, wrapper_html: { class: 'col-md-4' } %>
      <%= f.input :contact_last_name, wrapper_html: { class: 'col-md-4' } %>
      <%= f.input :contact_last_name_alt, wrapper_html: { class: 'col-md-4' } %>
    </div>
    <div class="row well">
      <%= content_tag :h3, t('other_data'), class: 'form-subtitle' %>
        <div class="row">
        <%= f.input :publish_pictures, wrapper_html: { class: 'col-md-6' } %>
        <%= f.input :annual_survey, wrapper_html: { class: 'col-md-6' } %>
        </div>
      <div class="row">
        <%= f.input :comments, wrapper_html: { class: 'col-md-6' } %>
        <%= f.input :other_subscribe_reason, wrapper_html: { class: 'col-md-6' } %>
      </div>
    </div>
    <% if f.object.persisted? %>
      <div class="row well">
        <%= f.input :active, wrapper_html: { class: 'col-md-4' } %>
        <%= f.input :subscribed_at, as: :string, input_html: date_input_html_default_values(f.object.subscribed_at, disabled: true), wrapper_html: { class: 'col-md-4' }  %>
        <%= f.input :unsubscribed_at, as: :string, input_html: date_input_html_default_values(f.object.unsubscribed_at, disabled: true), wrapper_html: { class: 'col-md-4' }  %>
      </div>
    <% end %>
    <div class="row well">
      <%= content_tag :h3, Address.model_name.human, class: 'form-subtitle' %>
      <%= f.simple_fields_for :address, (f.object.address.presence || f.object.build_address) do |f_address|  %>
          <%= render partial: 'addresses/form_fields', locals: { f: f_address } %>
      <% end %>
    </div>
    <% if f.object.persisted? && f.object.projects.present? %>
      <div class="row well">
        <div>
          <%= content_tag :h3, Project.model_name.human(count: 2), class: 'form-subtitle' %>
          <%# TODO uncomment when index js response is done %>
          <%#= link_to_index :projects, q: { entity_id_eq: @entity.id} %>
        </div>
        <div class="col-md-12 with-scroll-bar">
          <%= f.simple_fields_for :projects do |f_project|  %>
              <div class="row">
                <% project = f_project.object %>
                <%= f_project.input :name, required: false, input_html: { readonly: true }, wrapper_html: { class: 'col-md-5' } %>
                <%= f_project.input :created_at, as: :string, input_html: { value: show_simple_date(f.object.created_at), readonly: true }, wrapper_html: { class: 'col-md-3' } %>
                <%= f_project.input :active, wrapper_html: { class: 'col-md-2' } %>

                <div class="col-md-2">
                  <%= link_to_show project.pt_extendable, remote: true %>
                  <%= link_to_edit project.pt_extendable, target: :_new %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div id="files" class="row well">
      <div class="files-header row">
        <div class="col-md-11">
          <%= content_tag :h2, "#{t('files')} #{t('and')} #{t('urls')}", class: 'form-subtitle' %>
          <%= content_tag :div, (content_tag :p, t('files_are_allowed_olny_on_update_volun')), class: 'well-no-border' if f.object.new_record? %>
        </div>
        <div class="col-md-1">
          <p class="js-arrow hidden">
            <span><%= build_icon('angle-down') %></span>
            <span class="hidden"><%= build_icon('angle-up') %></span>
          </p>
        </div>
      </div>
      <% if f.object.persisted? %>
        <div class="files-block">
          <div class="images_block row well js-files-block">
            <%= content_tag :h3, t('images'), class: 'form-subtitle' %>
            <div class="col-md-12">
              <% if f.object.images.exists? %>
                  <%= f.simple_fields_for :images  do |f_file|  %>
                      <%= show_simple_base_errors(f_file) %>
                      <div class="image-fields well-no-border js-file-fields">
                        <div class="row">
                          <%= f_file.input :path, label: t('name'), input_html: { disabled: true, value: f_file.object.file_name }, wrapper_html: { class: 'link-path col-md-9' } %>
                          <%= f_file.input :link_type_id, as: :hidden, input_html: { value: LinkType.image.take.id } %>
                          <%= content_tag :div, class: 'js-file-link form-group col-md-3' do %>
                              <%= link_to(build_icon(:share), f_file.object.file.url, target: :_blank) %>
                              <%= link_to_show(f_file.object) %>
                              <%= f_file.link_to_remove build_icon('trash-o'), data: { confirm: t('messages.confirm_file_deletion') } %>
                          <% end %>
                        </div> <!-- images-fields -->
                      </div>
                  <% end %>
              <% else %>
                  <%= content_tag :p, "No tiene #{Volunteer.human_attribute_name(:images)}" %>
              <% end %>
            </div>
            <div class="col-md-12 js-links-block">
              <%= link_to "#{build_icon(:upload, title: "ir a images")} Subir nuevas imágenes".html_safe,
                          links_path(linkable_id: f.object.id, linkable_type: f.object.class.name, link_type_id: LinkType.image.take.id),
                          target: :_blank,
                          class: 'btn btn-success'%>
            </div>
        </div> <!-- images_block -->
        <div class="docs_block row well js-files-block">
          <%= content_tag :h3, t('docs'), class: 'form-subtitle' %>
            <div class="col-md-12">
            <% if f.object.docs.exists? %>
                <%= f.simple_fields_for :docs  do |f_file|  %>
                    <%= show_simple_base_errors(f_file) %>
                    <div class="doc-fields well-no-border js-file-fields">
                      <div class="row">
                        <%= f_file.input :path, label: t('name'), input_html: { disabled: true, value: f_file.object.file_name }, wrapper_html: { class: 'link-path col-md-9' } %>
                        <%= f_file.input :link_type_id, as: :hidden, input_html: { value: LinkType.document.take.id } %>
                        <%= content_tag :div, class: 'js-file-link form-group col-md-3' do %>
                            <%= link_to(build_icon(:share), f_file.object.file.url, target: :_blank) %>
                            <%= link_to_show(f_file.object) %>
                            <%= f_file.link_to_remove build_icon('trash-o'), data: { confirm: t('messages.confirm_file_deletion') } %>
                        <% end %>
                      </div> <!-- docs-fields -->
                    </div>
                <% end %>
            <% else %>
                <%= content_tag :p, "No tiene #{Volunteer.human_attribute_name(:docs)}" %>
            <% end %>
          </div>
          <div class="col-md-12 js-links-block">
            <%= link_to "#{build_icon(:upload, title: "ir a documentos")} Subir nuevos documentos".html_safe,
                        links_path(linkable_id: f.object.id, linkable_type: f.object.class.name, link_type_id: LinkType.document.take.id),
                        target: :_blank,
                        class: 'btn btn-success' %>
          </div>
        </div> <!-- docs_block -->
        <div class="urls_block row well js-files-block">
          <%= content_tag :h3, t('urls'), class: 'form-subtitle' %>
          <%= f.simple_fields_for :urls  do |f_file|  %>
              <%= show_simple_base_errors(f_file) %>
              <div class="url-fields well-no-border col-md-12 js-file-fields">
                <div class="row">
                  <%= f_file.input :path, as: :url, wrapper_html: { class: 'link-path col-md-9' } %>
                  <%= f_file.input :link_type_id, as: :hidden, input_html: { value: LinkType.url.take.id } %>
                  <%= content_tag :div, class: 'js-file-link form-group col-md-3' do %>
                      <%= link_to(build_icon(:share), f_file.object.path, target: :_blank, class: 'js-visit') %>
                      <%= f_file.link_to_remove build_icon('trash-o'), data: { confirm: t('messages.confirm_file_deletion') } %>
                  <% end %>
                </div> <!-- urls-fields -->
              </div>
          <% end %>
          <p><%= f.link_to_add icon_new(text: t('urls')), :urls, class: 'btn' %></p>
        </div> <!-- urls_block -->
      </div>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success js-confirmable', id: 'submit' %>
    <%= link_to build_icon('repeat', text: t('messages.undo_changes')), '', class: 'undo js-reloadable' %>
  </div>
  <% end %>
</div>