<% model_class = Entity %>

<div class="row">
  <div class="col-md-12">
    <%= model_title(model_class) %>
  </div>
</div>
<div class="index-panel row well">
  <div class="col-md-6">
    <%= content_tag(:div, link_to_new(model_class, fem: true), class: 'col-md-6 pull-left') %>
  </div>
  <div class="col-md-6">
    <%= content_tag(:div, search_collection(@search_q, :name_or_vat_number_or_email_or_entity_type_name_cont), class: 'col-md-6 pull-right') %>
  </div>
</div>

<div class="col-md-12 table-csv">
  <p><%= model_class.model_name.human(count: 2) %>: <%= @entities.count %></p>
  <%= link_to t('action.download_csv'), entities_path(format: "csv"), class: "btn btn-success" %>
</div>

<table class="index-table">
  <thead>
    <tr>
    <% model_class.main_columns.each do |column| -%>
      <th><%= sort_link(@search_q, column, model_class.human_attribute_name(column)) %></th>
    <% end -%>

      <th class="actions index_table-actions">
        <%= t('actions') %>
      </th>
    </tr>
  </thead>

  <tbody>
    <%= render(partial: 'entity', collection: @entities)%>
  </tbody>
</table>

<%= render partial: "shared/pagination", locals: {collection: @entities} %>

<script>

    //No results alert
    if ($('.ent-results').length == 0) {
        swal(
            "Lo sentimos",
            "Su búsqueda no ha encontrado resultados",
            "error"
        )
    };

</script>
