<div class="well">
  <%= simple_form_for(@pro_tracking, default_form_options) do |f| %>

  <div class="form-inputs">
          <%= f.association :project, input_html: { disabled: true, id: 'project' }, default: @pro_tracking.project %>
          <%= f.input :tracked_at, as: :string, input_html: date_input_html_default_values(f.object.tracked_at) %>
          <%= f.input :comments %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, onclick: "enableToSaveFields();" %>
    <script>
      // Enable fields simple_form_for to be able to pass them as params
      function enableToSaveFields() {
        $('#project').attr("disabled", false);
      }
    </script>
  </div>
  <% end %>
</div>