<div class="well">
  <%= simple_form_for(@volun_assessment, default_form_options) do |f| %>

  <div class="form-inputs">
          <%= f.association :volunteer %>
          <%= f.association :trait %>
          <%= f.association :project %>
          <%= f.input :trait_other %>
          <%= f.input :assessment %>
          <%= f.input :comments %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
</div>