<div class="well">
  <%= simple_form_for(@project_type_other, default_form_options) do |f| %>

      <%= f.simple_fields_for :project do |f_project|  %>
          <%= render partial: 'projects/form_fields', locals: { f: f_project } %>
      <% end %>

  <div class="form-inputs">
    <%= f.simple_fields_for :project_type do |f_project_type|  %>
        <%= f_project_type.input :kind, disabled: true, label: ProjectType.model_name.human %>
        <%= f_project_type.input :kind, as: :hidden %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
</div>