<tr id="<%= dom_id(project_type_subvention) %>" >

<% project_type_subvention.main_attributes.each do |attr_name| %>
      <td><%= show_attr(project_type_subvention.public_send attr_name) %></td>
<% end %>

  <td class="index_table-actions">
    <%= link_to_show(project_type_subvention) %>
    <%= link_to_edit(project_type_subvention) %>
<% if project_type_subvention.try(:archived?) %>
    <%= link_to_recover(project_type_subvention) %>
<% else %>
    <%= link_to_destroy(project_type_subvention) %>
<% end %>
  </td>
</tr>
