<tr id="<%= dom_id(ent_tracking) %>" >

  <% ent_tracking.main_attributes.each do |attr_name| %>
  <td><%= show_attr(ent_tracking, attr_name) %></td>
  <% end %>

  <td>
  <% unless ent_tracking.request_form.nil? %>
    <%= ent_tracking.request_form.request_type %>
  <% end %>
  </td>

  <td class="index_table-actions">
    <%= link_to_show(ent_tracking) %>
    <%= link_to_edit(ent_tracking) %>
  </td>
</tr>
