<tr id="<%= dom_id(ent_tracking) %>" >

  <% ent_tracking.main_attributes.each do |attr_name| %>
  <td><%= show_attr(ent_tracking, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(ent_tracking) %>
    <%= link_to_edit(ent_tracking) %>
<% if ent_tracking.try(:archived?) %>
    <%= link_to_recover(ent_tracking) %>
<% else %>
    <%= link_to_destroy(ent_tracking) %>
<% end %>
  </td>
</tr>
