<div class="well">
  <%= simple_form_for(@manager, default_form_options) do |f| %>

  <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :last_name %>
          <%= f.input :last_name_alt %>
          <%= f.input :alias_name %>
          <%= f.association  :profile %>
          <%= f.association  :role %>
          <%= f.input :phone_number %>
          <%= f.input :active %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
</div>