<tr id="<%= dom_id(rft_other) %>" >

  <% rft_other.main_attributes.each do |attr_name| %>
  <td><%= show_attr(rft_other.public_send attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(rft_other) %>
    <%= link_to_edit(rft_other) %>
<% if rft_other.try(:archived?) %>
    <%= link_to_recover(rft_other) %>
<% else %>
    <%= link_to_destroy(rft_other) %>
<% end %>
  </td>
</tr>
