<tr id="<%= dom_id(skill) %>" >

  <% skill.main_attributes.each do |attr_name| %>
  <td><%= show_attr(skill, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(skill) %>
    <%= link_to_edit(skill) %>
<% if skill.try(:archived?) %>
    <%= link_to_recover(skill) %>
<% else %>
    <%= link_to_destroy(skill) %>
<% end %>
  </td>
</tr>
