<tr id="<%= dom_id(rt_volunteer_appointment) %>" >

  <% rt_volunteer_appointment.main_attributes.each do |attr_name| %>
  <td><%= show_attr(rt_volunteer_appointment, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(rt_volunteer_appointment) %>
    <%= link_to_edit(rt_volunteer_appointment) %>
<% if rt_volunteer_appointment.try(:archived?) %>
    <%= link_to_recover(rt_volunteer_appointment) %>
<% else %>
    <%= link_to_destroy(rt_volunteer_appointment) %>
<% end %>
  </td>
</tr>
