<tr id="<%= dom_id(rt_project_unsubscribe) %>" >

  <% rt_project_unsubscribe.main_attributes.each do |attr_name| %>
  <td><%= show_attr(rt_project_unsubscribe, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(rt_project_unsubscribe) %>
    <%= link_to_edit(rt_project_unsubscribe) %>
<% if rt_project_unsubscribe.try(:archived?) %>
    <%= link_to_recover(rt_project_unsubscribe) %>
<% else %>
    <%= link_to_destroy(rt_project_unsubscribe) %>
<% end %>
  </td>
</tr>
