<div class="jumbotron scale">
  <h1><%= t('administration') %></h1>
  <br/>
  <div class="panel-list row">
    <div class="col-md-6">
      <%= link_to maintenance_path do %>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= t('catalogs')  %>
            </h3>
          </div>
          <div class="panel-body">
          </div>
        </div>
      <% end %>
      <%= box_link_to(Resource, panel_type: 'info', count: 2) %>
    </div>
    <div class="col-md-6">
      <%= box_link_to(Manager, panel_type: 'info', count: 2) %>
      <%= box_link_to(Setting, panel_type: 'info', count: 2) %>
    </div>
  </div>
</div>
