<div class="jumbotron scale">
  <h1><%= t('administration') %></h1>
  <br/>
  <div class="panel-list row">
    <div class="col-md-6">
      <div class="panel panel-info" onclick="window.location='<%= maintenance_path %>';">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= t('catalogs')  %>
          </h3>
        </div>
        <div class="panel-body">
          <%= t('catalogs') %>
        </div>
      </div>
      <div class="panel panel-info" onclick="window.location='<%= settings_path %>';">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= Setting.model_name.human(count: 2)  %>
          </h3>
        </div>
        <div class="panel-body">
          <%= Setting.model_name.human(count: 2) %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info" onclick="window.location='<%= managers_url %>';">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= Manager.model_name.human(count: 2)  %>
          </h3>
        </div>
        <div class="panel-body">
          <%= Manager.model_name.human(count: 2) %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info" onclick="window.location='<%= resources_url %>';">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= Resource.model_name.human(count: 2)  %>
          </h3>
        </div>
        <div class="panel-body">
          <%= Resource.model_name.human(count: 2) %>
        </div>
      </div>
    </div>
  </div>
</div>
