<div class="welcome">
  <div class="jumbotron">
    <h1>Bienvenido!</h1>
    <br/>
    <p>Esta es la página de Administración del Voluntariado de Madrid</p>
    <br/>
    <br/>
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail element">
          <div>
            <%= link_to build_icon('file-powerpoint-o'), projects_path %>
          </div>
          <div class="caption">
            <h3><%= Project.model_name.human(count: 2) %></h3>
              <p class="count">(<%= Project.all_active.count %> <%= t('projects').downcase %>)</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail element">
          <div>
            <%= link_to build_icon('users'), volunteers_path %>
          </div>
          <div class="caption">
            <h3><%= Volunteer.model_name.human(count: 2) %></h3>
            <p class="count">(<%= Volunteer.all_active.count %> <%= t('volunteers').downcase %>)</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail element">
          <div>
            <%= link_to build_icon('cubes'), entities_path %>
          </div>
          <div class="caption">
            <h3><%= Entity.model_name.human(count: 2) %></h3>
            <p class="count">(<%= Entity.all_active.count %> <%= t('entities').downcase %>)</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail element">
          <div>
            <%= link_to build_icon('book'), activities_path %>
          </div>
          <div class="caption">
            <h3><%= "#{t('diary')} #{t('of')} #{Activity.model_name.human(count: 2)}" %></h3>
            <p class="count">(<%= Activity.all_active.count %> <%= t('activities').downcase %>)</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail element">
          <div>
            <%= link_to build_icon('list'), rt_extensions_menu_request_forms_path %>
          </div>
          <div class="caption">
            <h3><%= RequestForm.model_name.human(count: 2) %></h3>
            <p class="count">(<%= RequestForm.pending.count %> <%= t('pending').downcase %>)</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail element">
          <div>
            <%= link_to build_icon('cogs'), administration_path %>
          </div>
          <div class="caption">
            <h3><%= t('administration') %></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
