<div class="welcome">
  <div class="jumbotron">
    <h1>Bienvenido!</h1>
    <p>Esta es la página de Administración del Voluntariado de Madrid</p>
    <br/>
    <br/>
    <br/>
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail element">
          <div>
            <%= link_to build_icon('file-powerpoint-o'), '/projects' %>
          </div>
          <div class="caption">
            <h3><%= Project.model_name.human(count: 2) %></h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail element">
          <div>
            <%= link_to build_icon('users'), '#' %>
          </div>
          <div class="caption">
            <h3><%= "Voluntarios" %></h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail element">
          <div>
            <%= link_to build_icon('list-alt'), maintenance_path %>
          </div>
          <div class="caption">
            <h3><%= "Catálogo" %></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
