<div class="jumbotron scale">
  <h1><%= t('administration') %></h1>
  <br/>
  <p><%= t('administration_title_text') %></p>
  <br/>
  <br/>
  <div class="panel-list row">
    <div class="col-md-6">
      <div class="panel panel-info" onclick="window.location='<%= areas_url %>';">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= Area.model_name.human(count: 2)  %>
          </h3>
        </div>
        <div class="panel-body">
          <%= t('areas_text') %>
        </div>
      </div>
      <div class="panel panel-info" onclick="window.location='<%= project_types_url %>';">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= ProjectType.model_name.human(count: 2)  %>
          </h3>
        </div>
        <div class="panel-body">
          <%= t('project_types_text') %>
        </div>
      </div>
      <div class="panel panel-info" onclick="window.location='<%= nationalities_url %>';">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= Nationality.model_name.human(count: 2)  %>
          </h3>
        </div>
        <div class="panel-body">
          <%= t('nationalities_text') %>
        </div>
      </div>
      <div class="panel panel-info" onclick="window.location='<%= unsubscribe_reasons_url %>';">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= UnsubscribeReason.model_name.human(count: 2)  %>
          </h3>
        </div>
        <div class="panel-body">
          <%= t('unsubscribe_reason_text') %>
        </div>
      </div>
      <div class="panel panel-info" onclick="window.location='<%= tracking_types_url %>';">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= TrackingType.model_name.human(count: 2)  %>
          </h3>
        </div>
        <div class="panel-body">
          <%= t('tracking_types_text') %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info" onclick="window.location='<%= collectives_url %>';">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= Collective.model_name.human(count: 2)  %>
          </h3>
        </div>
        <div class="panel-body">
          <%= t('collectives_text') %>
        </div>
      </div>
      <div class="panel panel-info" onclick="window.location='<%= coordinations_url %>';">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= Coordination.model_name.human(count: 2)  %>
          </h3>
        </div>
        <div class="panel-body">
          <%= t('coordinations_text') %>
        </div>
      </div>
      <div class="panel panel-info" onclick="window.location='<%= degrees_url %>';">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= Degree.model_name.human(count: 2)  %>
          </h3>
        </div>
        <div class="panel-body">
          <%= t('degrees_text') %>
        </div>
      </div>
      <div class="panel panel-info" onclick="window.location='<%= traits_url %>';">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= Trait.model_name.human(count: 2)  %>
          </h3>
        </div>
        <div class="panel-body">
          <%= t('traits_text') %>
        </div>
      </div>
      <!--<div class="panel panel-info" onclick="window.location='<%#= record_histories_url %>';">-->
        <!--<div class="panel-heading">-->
          <!--<h3 class="panel-title">-->
            <!--<%#= RecordHistory.model_name.human(count: 2)  %>-->
          <!--</h3>-->
        <!--</div>-->
        <!--<div class="panel-body">-->
          <!--Historial de modificación de los registros de las tablas de catálogo-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</div>
