<tr id="<%= dom_id(entity_type) %>" >

  <% project.main_attributes.each do |attr_name| %>
  <td><%= show_attr(entity_type.public_send attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(entity_type) %>
    <%= link_to_edit(entity_type) %>
<% if entity_type.try(:archived?) %>
    <%= link_to_recover(entity_type) %>
<% else %>
    <%= link_to_destroy(entity_type) %>
<% end %>
  </td>
</tr>
