<% model_class = Degree %>

<div class="row">
  <div class="col-md-12">
    <%= model_title(model_class) %>
  </div>
</div>
<div class="index-panel row well">
  <div class="col-md-2">
    <%= content_tag(:div, link_to_new(model_class, fem: true), class: 'col-md-6 pull-left') %>
  </div>
  <div class="index-filters col-md-4 form-group select">
    <div class="row">
     <%= content_tag :label, 'Seleccionar categoría:', for: 'status-select', class: 'col-sm-3 control-label' %>
     <div class="col-sm-9">
        <%= select_tag :status, options_for_select(DegreeType.select('name').where(active: true).to_a.insert(0, t('all')), params[:degree_type]),
                       onchange:  "if(this.value){$('#degree_type').prop('value',this.value)}; $('.search-form').submit()",
                       class:     'form-control',
                       id:        'pages-select' %>
     </div>
    </div>
  </div>
  <div class="col-md-6">
    <%= content_tag(:div, search_collection(@search_q, :degree_type_name_or_name_cont, hidden_fields: { degree_type: params[:degree_type] }), class: 'col-md-6 pull-right') %>
  </div>
</div>

<table class="index-table">
  <thead>
    <tr>
    <% model_class.main_columns.each do |column| -%>
      <th><%= sort_link(@search_q, column, model_class.human_attribute_name(column)) %></th>
    <% end -%>

      <th class="actions index_table-actions">
        <%= t('actions') %>
      </th>
    </tr>
  </thead>
  
  <tbody>
    <%= render(partial: 'degree', collection: @degrees)%>
  </tbody>
</table>

<%= render partial: "shared/pagination", locals: {collection: @degrees} %>