<div class="well">
  <%= simple_form_for(@rt_volunteer_subscribe, default_form_options) do |f| %>

  <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :last_name %>
          <%= f.input :last_name_alt %>
          <%= f.association :id_number_type %>
          <%= f.input :id_number %>
          <%= f.input :gender %>
          <%= f.input :birth_date, as: :string, input_html: date_input_html(f.object.birth_date) %>
          <%= f.association :nationality %>
          <%= f.input :phone_number %>
          <%= f.input :phone_number_alt %>
          <%= f.input :email %>
          <%= f.association :address %>
          <%= f.association :status %>
          <%= f.association :employment_status %>
          <%= f.input :vocne %>
          <%= f.input :available %>
          <%= f.input :availability_date, as: :string, input_html: date_input_html(f.object.availability_date) %>
          <%= f.association :academic_level %>
          <%= f.input :comments %>
          <%= f.input :expectations %>
          <%= f.input :agreement %>
          <%= f.input :agreement_date, as: :string, input_html: date_input_html(f.object.agreement_date) %>
          <%= f.input :search_authorization %>
          <%= f.input :representative_statement %>
          <%= f.input :has_driving_license %>
          <%= f.input :publish_pictures %>
          <%= f.input :annual_survey %>
          <%= f.association :info_source %>
          <%= f.input :other_academic_info %>
          <%= f.association :profession %>
          <%= f.input :notes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
</div>