<% model_class = Rt::VolunteerSubscribe %>
<% group_name = 'hidden_statuses' %>

<div class="row">
  <div class="col-md-12">
    <%= model_title(model_class) %>
  </div>
</div>
<div class="index-panel row well">
  <div class="col-md-6">
    <%= content_tag(:div,
                    search_collection(@search_q,
                                      :name_or_last_name_or_last_name_alt_or_phone_number_or_email_or_notes_cont,
                                      hidden_fields: {
                                          group_name => {
                                              all:        cast_as_boolean(params[:all]),
                                              pending:    cast_as_boolean(params[:pending]),
                                              processing: cast_as_boolean(params[:processing]),
                                              approved:   cast_as_boolean(params[:approved]),
                                              rejected:   cast_as_boolean(params[:rejected])}}),
                    class: 'pull-left') %>
  </div>
  <div id="statuses" class="col-md-6 pull-right">
    <%= content_tag :ul do %>
      <% RequestForm.statuses.keys.each do |status| %>
        <%= content_tag :li, class: 'status-list' do %>
          <%= label_tag status, RequestForm.statuses_i18n[status] %>
          <%= check_box_filter_for(status) %>
        <% end %>
      <% end %>
      <%= content_tag :li, class: 'status-list' do %>
        <%= label_tag :all_statuses, t('all_statuses') %>
        <%= check_box_filter_for(:all, "##{group_name} > input") %>
      <% end %>
    <% end %>
  </div>
</div>

<table class="index-table">
  <thead>
    <tr>
    <% model_class.main_columns.each do |column| -%>
      <th><%= sort_link(@search_q, column, model_class.human_attribute_name(column)) %></th>
    <% end -%>

      <th><%= sort_link(@search_q, :request_form_req_status_id, RequestForm.human_attribute_name(:status)) %></th>
      <th><%= sort_link(@search_q, :request_form_status_date, RequestForm.human_attribute_name(:status_date)) %></th>
      <th><%= sort_link(@search_q, :request_form_manager, RequestForm.human_attribute_name(:manager)) %></th>

      <th class="actions index_table-actions">
        <%= t('actions') %>
      </th>
    </tr>
  </thead>
  
  <tbody>
    <%= render(partial: 'rt_volunteer_subscribe', collection: @rt_volunteer_subscribes)%>
  </tbody>
</table>

<%= render partial: 'shared/pagination', locals: {collection: @rt_volunteer_subscribes} %>