<div class="well">
  <%= simple_form_for(@rft_volunteer_appointment, default_form_options) do |f| %>

  <div class="form-inputs">
          <%= f.association :request_form_type %>
          <%= f.association :volunteer %>
          <%= f.input :reason %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
</div>