<tr id="<%= dom_id(rft_volunteer_appointment) %>" >

  <% rft_volunteer_appointment.main_attributes.each do |attr_name| %>
  <td><%= show_attr(rft_volunteer_appointment.public_send attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(rft_volunteer_appointment) %>
    <%= link_to_edit(rft_volunteer_appointment) %>
<% if rft_volunteer_appointment.try(:archived?) %>
    <%= link_to_recover(rft_volunteer_appointment) %>
<% else %>
    <%= link_to_destroy(rft_volunteer_appointment) %>
<% end %>
  </td>
</tr>
