<div class="form-inputs">
  <div class="row well">
    <div class="col-md-12">
      <%= content_tag :h1, Project.model_name.human, class: 'form-subtitle' %>
      <%= show_simple_base_errors(f) %>
      <div class="row">
        <%= f.input :project_type_id, as: :hidden %>
        <div class="col-md-6">
          <%= f.input :name %>
        </div>
        <div class="col-md-6">
          <%= f.input :active unless f.object.new_record? %>
          <%= f.input :volunteers_allowed %>
          <%= f.input :publish %>
          <%= f.input :outstanding %>
        </div>
      </div>
      <div class="row">
        <%= f.input :description, wrapper_html: { class: 'col-md-6' } %>
        <%= f.input :comments, wrapper_html: { class: 'col-md-6' } %>
      </div>
    </div>
  </div>
  <div class="row well row-2">
    <%= content_tag :h1, Volunteer.model_name.human(count: 2), class: 'form-subtitle' %>
    <div class="col-md-6">
      <%= f.input :volunteers_num, as: :string, placeholder: '0', input_html: {class: 'm-width150', min: 0, max: 5} %>
      <%= f.input :participants_num, as: :string, placeholder: '0', input_html: {class: 'm-width150', min: 0, max: 5} %>
      <%= f.input :beneficiaries_num, as: :string, placeholder: '0', input_html: {class: 'm-width150', min: 0, max: 5} %>
    </div>
    <div class="col-md-6">
      <%= f.input :functions, as: :text %>
    </div>
  </div>
  <div class="row well row-2">
    <%= content_tag :h1, t('contact_person'), class: 'form-subtitle' %>
    <div class="col-md-6">
      <%= f.input :contact_name %>
      <%= f.input :contact_last_name %>
      <%= f.input :contact_last_name_alt %>
    </div>
    <div class="col-md-6">
      <%= f.input :email, placeholder: 'email@email.com', input_html: {class: 'm-width250'} %>
      <%= f.input :phone_number, input_html: { class: 'm-width150', data: { mask: '999999999'} }  %>
      <%= f.association :entity, input_html: { class: 'm-width200' } %>
    </div>
  </div>
  <div class="row well row-3">
      <%= content_tag :h1, 'Fechas de ejecución', class: 'form-subtitle' %>
      <%= f.input :execution_start_date, as: :string, input_html: date_input_html_default_values(f.object.execution_start_date), wrapper_html: { class: 'col-md-6' } %>
      <%= f.input :execution_end_date, as: :string, input_html: date_input_html_default_values(f.object.execution_end_date), wrapper_html: { class: 'col-md-6' } %>
  </div>
  <div class="row well row-3">
    <%= content_tag :h1, 'Datos del seguro', class: 'form-subtitle' %>
      <%= f.input :insured, wrapper_html: { class: 'col-md-6' } %>
      <%= f.input :insurance_date, as: :string, input_html: date_input_html(f.object.insurance_date), wrapper_html: { class: 'col-md-6' } %>
      <%= f.simple_fields_for :documents do |f_document|  %>
          <%= f_document.input :name, label: Document.model_name.human %>
      <% end %>
  </div>
  <div class="events-block row row-4 well">
    <%= content_tag :h1, "#{Address.model_name.human(count: 2)} #{t('and')} #{Timetable.model_name.human(count: 2)}", class: 'form-subtitle' %>
      
      <input type="hidden" value="<%= f.object.events.count %>" id="eventsNum" />
      <%= f.simple_fields_for :events, (f.object.events.build if f.object.events.empty?) do |f_event|  %>
        <div class="event-fields well col-md-12">
        <%= content_tag :h2, "#{Address.model_name.human} #{t('and')} #{Timetable.model_name.human(count: 2)}", class: 'form-subtitle' %>

          <div class="row well">
            <%= content_tag :h3, Address.model_name.human, class: 'form-subtitle' %>
            <%= f_event.simple_fields_for :address, (f_event.object.build_address if f_event.object.address.blank?) do |f_address|  %>
                <%= render partial: 'addresses/form_fields', locals: {f: f_address } %>
            <% end %>
          </div>

          <div class="timetables_block row well">
            <%= content_tag :h3, Timetable.model_name.human(count: 2), class: 'form-subtitle' %>
              <%= f_event.error :base, class: 'alert alert-danger alert-dismissable' %>
              <%= f_event.simple_fields_for :timetables, (f_event.object.timetables.build if f_event.object.new_record? && f_event.object.timetables.empty?) do |f_timetable|  %>
                <div class="timetable-fields well col-md-12">
                  <div class="row">
                      <%= f_timetable.input :execution_date, as: :string, input_html: date_input_html_default_values(f_timetable.object.execution_date), wrapper_html: { class: 'col-md-4' } %>
                      <%= f_timetable.input :start_hour, input_html: { class: 'm-width70', data: { mask: '99:99'} }, wrapper_html: { class: 'col-md-4' } %>
                      <%= f_timetable.input :end_hour, input_html: { class: 'm-width70', data: { mask: '99:99'} }, wrapper_html: { class: 'col-md-4' } %>
                      <%= f_timetable.link_to_remove build_icon('trash-o', text: "#{Timetable.model_name.human}"), class: 'pull-right' %>
                  </div> <!-- timetable-fields -->
                </div>
              <% end %>
            <p><%= f_event.link_to_add icon_new(text: "#{Timetable.model_name.human}"), :timetables, class: 'btn' %></p>
          </div> <!-- timetables_block -->
          
          <p><%= f_event.link_to_remove build_icon('trash-o', text: "#{t('action.remove')} #{Address.model_name.human} #{t('and')} #{Timetable.model_name.human(count: 2)}"), class: 'pull-right', id: 'rmEvent', onclick: 'rmEvent();' %></p>
        </div> <!-- event-fields -->
      <% end %>
    <p><%= f.link_to_add icon_new(text: "#{t('action.add')} #{Address.model_name.human} #{t('and')} #{Timetable.model_name.human(count: 2)}"), :events, class: 'btn', id: 'addEvent', onclick: 'addEvent();' %></p>
    
  </div> <!-- events-block -->

  <div class="row">
    <div class="well col-md-12">
      <%= content_tag :h3, Area.model_name.human(count: 2), class: 'form-subtitle' %>
      <%= f.association :areas, as: :check_boxes, label: false, item_wrapper_class: 'checkbox-inline checkbox-custom' %>
      <div class='col-sm-12'>
        <% f.object.inactive_areas.each do |area| %>
          <span class='checkbox-inline checkbox-custom'>
            <%= check_box_tag(area.name, value = "1", checked = true, options = { :disabled => true }) %>
            <label style='font-weight: normal;'>
              <%= area.name %>
            </label>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="well col-md-12">
      <%= content_tag :h3, Collective.model_name.human(count: 2), class: 'form-subtitle' %>
      <%= f.association :collectives, as: :check_boxes, label: false, item_wrapper_class: 'checkbox-inline checkbox-custom' %>
      <div class='col-sm-12'>
        <% f.object.inactive_collectives.each do |collective| %>
          <span class='checkbox-inline checkbox-custom'>
            <%= check_box_tag(collective.name, value = "1", checked = true, options = { :disabled => true }) %>
            <label style='font-weight: normal;'>
              <%= collective.name %>
            </label>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="well col-md-12">
      <%= content_tag :h3, Coordination.model_name.human(count: 2), class: 'form-subtitle' %>
      <%= f.association :coordinations, as: :check_boxes, label: false, item_wrapper_class: 'checkbox-inline checkbox-custom' %>
      <div class='col-sm-12'>
        <% f.object.inactive_coordinations.each do |coordination| %>
          <span class='checkbox-inline checkbox-custom'>
            <%= check_box_tag(coordination.name, value = "1", checked = true, options = { :disabled => true }) %>
            <label style='font-weight: normal;'>
              <%= coordination.name %>
            </label>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>

// Preventing destroy events when only one
    var eventsNum = $("#eventsNum").val();
    
    if (eventsNum < 2) {
      $("#rmEvent").hide();
    }
    
    function addEvent() {
      eventsNum++;
      $("#rmEvent").show();
    }
    
    function rmEvent() {
      eventsNum--;
      if (eventsNum < 2) {
        $("#rmEvent").hide();
      }
    }

</script>
