<div class="form-inputs">
  <div class="row">
    <div class="well col-md-6">
      <%= f.input :name %>
      <%= f.input :volunteers_num %>
      <%= f.input :beneficiaries_num %>
    </div>
    <div class="well col-md-6">
      <%= f.input :contact_person %>
      <%= f.input :phone_number %>
    </div>
  </div>
  <div class="row">
    <div class="well col-md-12">
      <div class="row">
        <%= f.input :execution_start_date, as: :datepicker %>
        <%= f.input :execution_end_date, as: :datepicker %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="well col-md-12">
      <div class="row">
        <%= f.input :active unless f.object.new_record? %>
        <%= f.input :description %>
        <%= f.input :functions %>
        <%= f.input :email %>
        <%= f.input :comments %>
        <%= f.input :insured %>
        <%= f.input :insurance_date, as: :datepicker %>
        <%= f.association :entity %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="well col-md-4">
      <%= f.association :areas, as: :check_boxes %>
    </div>
    <div class="well col-md-4">
      <%= f.association :collectives, as: :check_boxes %>
    </div>
    <div class="well col-md-4">
      <%= f.association :coordinations, as: :check_boxes %>
    </div>
  </div>
</div>