<tr id="<%= dom_id(project) %>" >

  <% project.main_attributes.each do |attr_name| %>
  <td><%= show_attr(project.public_send attr_name) %></td>
  <% end %>

  <td><%= project.districts.to_sentence %></td>
  <td><%= project.areas.to_sentence %></td>
  <td><%= project.collectives.to_sentence %></td>

  <td class="index_table-actions">
    <%= link_to_show(project.pt_extendable || project) %>
    <%= link_to_edit(project.pt_extendable || project) %>
<% if project.try(:archived?) %>
    <%= link_to_recover(project) %>
<% else %>
    <%= link_to_destroy(project) %>
<% end %>
  </td>
</tr>
