<% model_class = Project %>

<div class="row">
  <div class="col-md-12">
    <%= model_title(model_class) %>
  </div>
</div>
<div class="index-panel row well" id="projects">
  <div class="col-md-4">
    <%= content_tag(:div, link_to_new(model_class, path: 'pt_extensions_menu_projects_path'), class: 'col-md-6 pull-left') %>
  </div>
  <div class="index-filters col-md-4 form-group select">
    <div class="row">
     <%= content_tag :label, 'Seleccionar estado:', for: 'status-select', class: 'col-sm-6 control-label' %>
     <div class="col-sm-6">
        <%= select_tag :status, options_for_select({ t('active') => :active, t('inactive') => :inactive, t('all') => :all }, params[:status] || :all),
                       onchange:  "if(this.value){$('#status').prop('value',this.value)}; $('.search-form').submit()",
                       class:     'form-control',
                       id:        'pages-select' %>
     </div>
    </div>
  </div>
  <div class="col-md-4">
    <%= content_tag(:div, search_collection(@search_q, :events_address_district_or_name_or_description_cont, hidden_fields: { status: params[:status] }), class: 'pull-right') %>
  </div>
</div>

<p><%= model_class.model_name.human(count: 2) %>: <%= @projects.count %></p>

<table class="index-table">
  <thead>
  <tr>
    <% model_class.main_columns.each do |column| -%>
        <th><%= sort_link(@search_q, column, model_class.human_attribute_name(column)) %></th>
    <% end -%>

    <th><%= Address.human_attribute_name(:district).pluralize %></th>
    <th><%= Area.model_name.human(count: 2) %></th>
    <th><%= Collective.model_name.human(count: 2) %></th>

    <th class="actions index_table-actions">
      <%= t('actions') %>
    </th>
  </tr>
  </thead>

  <tbody>
  <%= render(partial: 'project', collection: @projects)%>
  </tbody>
</table>

<%= render partial: 'shared/pagination', locals: {collection: @projects} %>
