<div class="new-project-type">
  <div class="jumbotron scale">
    <h2>Elegir el tipo de proyecto a crear</h2>
    <br/>
    <br/>
    <br/>
    <div class="panel-list row">
      <div class="col-md-6">
          <div class="panel panel-<%= ProjectType.active?(:subvention) ? 'warning' : 'danger' %>" onclick="window.location='<%= new_pt_subvention_url %>';">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= PtSubvention.model_name.human %>
              </h3>
            </div>
            <div class="panel-body">
              Asociados a una subvención
            </div>
          </div>
        <div class="panel panel-<%= ProjectType.active?(:entity) ? 'warning' : 'danger' %>" onclick="window.location='<%= new_pt_entity_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= PtEntity.model_name.human %>
            </h3>
          </div>
          <div class="panel-body">
            Asociados a una entidad
          </div>
        </div>
        <div class="panel panel-<%= ProjectType.active?(:permanent) ? 'warning' : 'danger' %>" onclick="window.location='<%= new_pt_permanent_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= PtPermanent.model_name.human %>
            </h3>
          </div>
          <div class="panel-body">
            Permanentes
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-<%= ProjectType.active?(:centre) ? 'warning' : 'danger' %>" onclick="window.location='<%= new_pt_centre_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= PtCentre.model_name.human %>
            </h3>
          </div>
          <div class="panel-body">
            De centros de mayores
          </div>
        </div>
        <div class="panel panel-<%= ProjectType.active?(:social) ? 'warning' : 'danger' %>" onclick="window.location='<%= new_pt_social_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= PtSocial.model_name.human %>
            </h3>
          </div>
          <div class="panel-body">
            De servicios sociales
          </div>
        </div>
        <div class="panel panel-<%= ProjectType.active?(:other) ? 'warning' : 'danger' %>" onclick="window.location='<%= new_pt_other_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= PtOther.model_name.human %>
            </h3>
          </div>
          <div class="panel-body">
            De otros ámbitos
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
