<div class="new-project-type">
  <div class="jumbotron scale">
    <h2>Elegir el tipo de proyecto a crear</h2>
    <br/>
    <br/>
    <br/>
    <div class="panel-list row">
      <div class="col-md-6">
        <%# if ProjectType.active?(:subvention) %>
          <div class="panel panel-warning" onclick="window.location='<%= new_project_type_subvention_url %>';">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= ProjectTypeSubvention.model_name.human %>
              </h3>
            </div>
            <div class="panel-body">
              Asociados a una subvención
            </div>
          </div>
        <%# end %>
        <div class="panel panel-warning" onclick="window.location='<%= new_project_type_entity_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= ProjectTypeEntity.model_name.human %>
            </h3>
          </div>
          <div class="panel-body">
            Asociados a una entidad
          </div>
        </div>
        <div class="panel panel-warning" onclick="window.location='<%= new_project_type_permanent_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= ProjectTypePermanent.model_name.human %>
            </h3>
          </div>
          <div class="panel-body">
            Permanentes
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-warning" onclick="window.location='<%= new_project_type_centre_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= ProjectTypeCentre.model_name.human %>
            </h3>
          </div>
          <div class="panel-body">
            De centros de mayores
          </div>
        </div>
        <div class="panel panel-warning" onclick="window.location='<%= new_project_type_social_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= ProjectTypeSocial.model_name.human %>
            </h3>
          </div>
          <div class="panel-body">
            De servicios sociales
          </div>
        </div>
        <div class="panel panel-warning" onclick="window.location='<%= new_project_type_other_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= ProjectTypeOther.model_name.human %>
            </h3>
          </div>
          <div class="panel-body">
            De otros ámbitos
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
