<div class="new-project-type">
  <div class="jumbotron scale">
    <h2>Elegir el tipo de proyecto a crear</h2>
    <br/>
    <br/>
    <br/>
    <div class="panel-list row">
      <div class="col-md-6">
        <%= box_link_to Pt::Subvention %>
        <%= box_link_to Pt::Entity %>
        <%= box_link_to Pt::Permanent %>
        <%= box_link_to Pt::Punctual %>
      </div>
      <div class="col-md-6">
        <%= box_link_to Pt::Centre %>
        <%= box_link_to Pt::Social %>
        <%= box_link_to Pt::Other %>
      </div>
    </div>
  </div>
</div>
