<div class="new-project-type">
  <div class="jumbotron scale">
    <h2>Elegir el tipo de proyecto a crear</h2>
    <br/>
    <br/>
    <br/>
    <div class="panel-list row">
      <div class="col-md-6">
        <%= link_to_extendable Pt::Subvention %>
        <%= link_to_extendable Pt::Entity %>
        <%= link_to_extendable Pt::Permanent %>
        <%= link_to_extendable Pt::Punctual %>
      </div>
      <div class="col-md-6">
        <%= link_to_extendable Pt::Centre %>
        <%= link_to_extendable Pt::Social %>
        <%= link_to_extendable Pt::Other %>
      </div>
    </div>
  </div>
</div>
