<tr id="<%= dom_id(pt_other) %>" >

  <% pt_other.main_attributes.each do |attr_name| %>
  <td><%= show_attr(pt_other.public_send attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(pt_other) %>
    <%= link_to_edit(pt_other) %>
<% if pt_other.try(:archived?) %>
    <%= link_to_recover(pt_other) %>
<% else %>
    <%= link_to_destroy(pt_other) %>
<% end %>
  </td>
</tr>
