<div id="files" class="row well">
  <div class="files-header row">
    <div class="col-md-11">
      <% if f.object.is_a? Volunteer %>
        <%= content_tag :h2, t('volunteer_docs'), class: 'form-subtitle' %>
      <% else %>
        <%= content_tag :h2, "#{t('files')} #{t('and')} #{t('urls')}", class: 'form-subtitle' %>
      <% end %>
      <%= content_tag :div, (content_tag :p, t('files_are_allowed_olny_on_update')), class: 'well-no-border' if f.object.new_record? %>
    </div>
    <div class="col-md-1">
      <p class="js-arrow hidden">
       <span><%= build_icon('angle-down') %></span>
       <span class="hidden"><%= build_icon('angle-up') %></span>
      </p>
    </div>
  </div>
  <% if f.object.persisted? %>
    <div class="files-block">
      <% unless f.object.is_a? Volunteer %>
          <div class="images_block row well js-files-block">
            <%= content_tag :h3, t('images'), class: 'form-subtitle' %>
            <div class="col-md-12">
              <% if f.object.images.exists? %>
                <%= f.simple_fields_for :images  do |f_file|  %>
                  <%= show_simple_base_errors(f_file) %>
                  <div class="image-fields well-no-border js-file-fields">
                    <div class="row">
                      <%= f_file.input :path, label: t('name'), input_html: { disabled: true, value: f_file.object.file_name }, wrapper_html: { class: 'link-path col-md-9' } %>
                      <%= f_file.input :link_type_id, as: :hidden, input_html: { value: LinkType.image.take.id } %>
                      <%= content_tag :div, class: 'js-file-link form-group col-md-3' do %>
                      <%= link_to(build_icon(:share), f_file.object.file.url, target: :_blank) %>
                      <%= link_to_show(f_file.object) %>
                      <%= f_file.link_to_remove build_icon('trash-o'), data: { confirm: t('messages.confirm_file_deletion') } %>
                      <% end %>
                    </div> <!-- images-fields -->
                  </div>
                <% end %>
              <% else %>
                <%= content_tag :p, "No tiene #{Volunteer.human_attribute_name(:images)}" %>
              <% end %>
            </div>
            <div class="col-md-12 js-links-block">
              <%= link_to "#{build_icon(:upload, title: "ir a images")} Subir nuevas imágenes".html_safe,
                          links_path(linkable_id: f.object.id, linkable_type: f.object.class.name, link_type_id: LinkType.image.take.id),
                          target: :_blank,
                          class: 'btn btn-success'%>
            </div>
        </div> <!-- images_block -->
      <% end %>
      <div class="docs_block row well js-files-block">
        <%= content_tag :h3, t('docs'), class: 'form-subtitle' %>
          <div class="col-md-12">
          <% if f.object.docs.exists? %>
              <%= f.simple_fields_for :docs  do |f_file|  %>
                  <%= show_simple_base_errors(f_file) %>
                  <div class="doc-fields well-no-border js-file-fields">
                    <div class="row">
                      <%= f_file.input :path, label: t('name'), input_html: { disabled: true, value: f_file.object.file_name }, wrapper_html: { class: 'link-path col-md-9' } %>
                      <%= f_file.input :link_type_id, as: :hidden, input_html: { value: LinkType.document.take.id } %>
                      <%= content_tag :div, class: 'js-file-link form-group col-md-3' do %>
                          <%= link_to(build_icon(:share), f_file.object.file.url, target: :_blank) %>
                          <%= link_to_show(f_file.object) %>
                          <%= f_file.link_to_remove build_icon('trash-o'), data: { confirm: t('messages.confirm_file_deletion') } %>
                      <% end %>
                    </div> <!-- docs-fields -->
                  </div>
              <% end %>
          <% else %>
              <%= content_tag :p, "No tiene #{Volunteer.human_attribute_name(:docs)}" %>
          <% end %>
        </div>
        <div class="col-md-12 js-links-block">
          <%= link_to "#{build_icon(:upload, title: "ir a documentos")} Subir nuevos documentos".html_safe,
                      links_path(linkable_id: f.object.id, linkable_type: f.object.class.name, link_type_id: LinkType.document.take.id),
                      target: :_blank,
                      class: 'btn btn-success' %>
        </div>
      </div> <!-- docs_block -->
      <% unless f.object.is_a? Volunteer %>
        <div class="urls_block row well js-files-block">
          <%= content_tag :h3, t('urls'), class: 'form-subtitle' %>
          <%= f.simple_fields_for :urls  do |f_file|  %>
              <%= show_simple_base_errors(f_file) %>
              <div class="url-fields well-no-border col-md-12 js-file-fields">
                <div class="row">
                  <%= f_file.input :path, as: :url, wrapper_html: { class: 'link-path col-md-9' } %>
                  <%= f_file.input :link_type_id, as: :hidden, input_html: { value: LinkType.url.take.id } %>
                  <%= f_file.input :description, wrapper_html: { class: 'link-path col-md-9' } %>
                  <%= content_tag :div, class: 'js-file-link form-group col-md-3' do %>
                      <%= link_to(build_icon(:share), f_file.object.path, target: :_blank, class: 'js-visit') %>
                      <%= f_file.link_to_remove build_icon('trash-o'), data: { confirm: t('messages.confirm_file_deletion') } %>
                  <% end %>
                </div> <!-- urls-fields -->
              </div>
          <% end %>
          <p><%= f.link_to_add icon_new(text: t('urls')), :urls, class: 'btn' %></p>
        </div> <!-- urls_block -->
      <% end %>
    </div>
  <% end %>
</div>
