<tr id="<%= dom_id(link) %>" >

  <% link.main_attributes.each do |attr_name| %>
  <td><%= show_attr(link, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <% icon_name = /\.(txt|pdf|jpeg|png|jpg|gif)/ === link.file_extension ? :share : :download %>
    <%= link_to(build_icon(icon_name), link.file.url, target: :_blank) %>
    <%= link_to_show(link) %>
    <%= link_to_edit(link) %>
    <%= link_to_destroy(link) %>
  </td>
</tr>
