<% model_class = Profession %>

<div class="row">
  <div class="col-md-12">
    <%= model_title(model_class) %>
  </div>
</div>
<div class="index-panel row well">
  <div class="col-md-6">
    <%= content_tag(:div, link_to_new(model_class, fem: true), class: 'col-md-6 pull-left') %>
  </div>
  <div class="col-md-6">
    <%= content_tag(:div, search_collection(@search_q, :name_cont), class: 'col-md-6 pull-right') %>
  </div>
</div>

<table class="index-table">
  <thead>
    <tr>
    <% model_class.main_columns.each do |column| -%>
      <th><%= sort_link(@search_q, column, model_class.human_attribute_name(column)) %></th>
    <% end -%>

      <th class="actions index_table-actions">
        <%= t('actions') %>
      </th>
    </tr>
  </thead>
  
  <tbody>
    <%= render(partial: 'profession', collection: @professions)%>
  </tbody>
</table>

<%= render partial: "shared/pagination", locals: {collection: @professions} %>

<div class="col-md-12">
  <div class="col-md-1">
    <%= button_to_back %>
  </div>
</div>