<div class="new-project-type">
  <div class="jumbotron scale">
    <h2>Elegir tipo de solicitud a gestionar</h2>
    <br/>
    <br/>
    <br/>
    <div class="panel-list row">
      <div class="col-md-6">
        <%= link_to_extendable Rt::VolunteerSubscribe %>
        <%= link_to_extendable Rt::VolunteerUnsubscribe %>
        <%= link_to_extendable Rt::VolunteerAmendment %>
        <%= link_to_extendable Rt::VolunteerAppointment %>
        <%= link_to_extendable Rt::EntitySubscribe %>
        <%= link_to_extendable Rt::EntityUnsubscribe %>
      </div>
      <div class="col-md-6">
        <%= link_to_extendable Rt::VolunteersDemand %>
        <%= link_to_extendable Rt::ProjectPublishing %>
        <%= link_to_extendable Rt::ProjectUnpublishing %>
        <%= link_to_extendable Rt::ActivityPublishing %>
        <%= link_to_extendable Rt::ActivityUnpublishing %>
        <%= link_to_extendable Rt::Other %>
      </div>
    </div>
  </div>
</div>
