<div class="new-project-type">
  <div class="jumbotron scale">
    <h2>Elegir tipo de solicitud a gestionar</h2>
    <br/>
    <br/>
    <br/>
    <div class="panel-list row">
      <div class="col-md-6">
        <%= box_link_to Rt::VolunteerSubscribe, count: 2 %>
        <%= box_link_to Rt::VolunteerUnsubscribe, count: 2 %>
        <%= box_link_to Rt::VolunteerAmendment, count: 2 %>
        <%= box_link_to Rt::VolunteerAppointment, count: 2 %>
        <%= box_link_to Rt::EntitySubscribe, count: 2 %>
        <%= box_link_to Rt::EntityUnsubscribe, count: 2 %>
      </div>
      <div class="col-md-6">
        <%= box_link_to Rt::VolunteersDemand, count: 2 %>
        <%= box_link_to Rt::ProjectPublishing, count: 2 %>
        <%= box_link_to Rt::ProjectUnpublishing, count: 2 %>
        <%= box_link_to Rt::ActivityPublishing, count: 2 %>
        <%= box_link_to Rt::ActivityUnpublishing, count: 2 %>
        <%= box_link_to Rt::Other, count: 2 %>
      </div>
    </div>
  </div>
</div>
