<tr id="<%= dom_id(rft_project_unpublishing) %>" >

  <% rft_project_unpublishing.main_attributes.each do |attr_name| %>
  <td><%= show_attr(rft_project_unpublishing.public_send attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(rft_project_unpublishing) %>
    <%= link_to_edit(rft_project_unpublishing) %>
<% if rft_project_unpublishing.try(:archived?) %>
    <%= link_to_recover(rft_project_unpublishing) %>
<% else %>
    <%= link_to_destroy(rft_project_unpublishing) %>
<% end %>
  </td>
</tr>
