<tr id="<%= dom_id(pt_centre) %>" >

  <% pt_centre.main_attributes.each do |attr_name| %>
  <td><%= show_attr(pt_centre.public_send attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(pt_centre) %>
    <%= link_to_edit(pt_centre) %>
<% if pt_centre.try(:archived?) %>
    <%= link_to_recover(pt_centre) %>
<% else %>
    <%= link_to_destroy(pt_centre) %>
<% end %>
  </td>
</tr>
