<div class="well">
  <%= simple_form_for(@rft_volunteers_demand, default_form_options) do |f| %>

  <div class="form-inputs">
          <%= f.association :request_form_type %>
          <%= f.association :entity %>
          <%= f.input :description %>
          <%= f.input :execution_start_date, as: :datepicker %>
          <%= f.input :execution_end_date, as: :datepicker %>
          <%= f.input :road_type %>
          <%= f.input :road_name %>
          <%= f.input :number_type %>
          <%= f.input :road_number %>
          <%= f.input :postal_code %>
          <%= f.input :town %>
          <%= f.input :province %>
          <%= f.input :requested_volunteers_num %>
          <%= f.input :volunteers_profile %>
          <%= f.input :volunteer_functions_1 %>
          <%= f.input :volunteer_functions_2 %>
          <%= f.input :volunteer_functions_3 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
</div>