<tr id="<%= dom_id(rft_volunteers_demand) %>" >

  <% rft_volunteers_demand.main_attributes.each do |attr_name| %>
  <td><%= show_attr(rft_volunteers_demand.public_send attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(rft_volunteers_demand) %>
    <%= link_to_edit(rft_volunteers_demand) %>
<% if rft_volunteers_demand.try(:archived?) %>
    <%= link_to_recover(rft_volunteers_demand) %>
<% else %>
    <%= link_to_destroy(rft_volunteers_demand) %>
<% end %>
  </td>
</tr>
