<tr id="<%= dom_id(borough) %>" >

  <% borough.main_attributes.each do |attr_name| %>
  <td><%= show_attr(borough, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(borough) %>
    <%= link_to_edit(borough) %>
<% if borough.try(:archived?) %>
    <%= link_to_recover(borough) %>
<% else %>
    <%= link_to_destroy(borough) %>
<% end %>
  </td>
</tr>
