<tr id="<%= dom_id(pt_permanent) %>" >

  <% project.main_attributes.each do |attr_name| %>
  <td><%= show_attr(pt_permanent.public_send attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(pt_permanent) %>
    <%= link_to_edit(pt_permanent) %>
<% if pt_permanent.try(:archived?) %>
    <%= link_to_recover(pt_permanent) %>
<% else %>
    <%= link_to_destroy(pt_permanent) %>
<% end %>
  </td>
</tr>
