<div class="well">
  <%= simple_form_for(@address, default_form_options) do |f_address| %>

    <div class="address well col-md-12">
      <div class="row row-4-1">
        <div class="col-md-3">
          <%= f_address.input :country, selected: 1, collection: [ "España"] %>
        </div>
        <div class="col-md-5">
          <%= f_address.association :province, selected: 28, input_html: { class: 'm-width250'} %>
        </div>
        <div class="col-md-4">
          <%= f_address.input :town, input_html: { class: 'm-width250'} %>
        </div>
      </div>
      <div class="row row-4-1">
        <div class="col-md-3">
          <%= f_address.association :road_type %>
        </div>
        <div class="col-md-9">
          <%= f_address.input :road_name %>
        </div>
      </div>
      <div class="row row-4-2">
        <div class="col-md-3">
          <%= f_address.input :postal_code %>
        </div>
        <div class="col-md-3">
          <%= f_address.input :road_number_type, collection: Address::ROAD_NUMBER_TYPES %>
        </div>
        <div class="col-md-3">
          <%= f_address.input :road_number %>
        </div>
        <div class="col-md-3">
          <%= f_address.input :grader, collection: Address::GRADERS %>
        </div>
      </div>
      <div class="row row-4-3">
        <div class="col-md-3">
          <%= f_address.input :stairs %>
        </div>
        <div class="col-md-3">
          <%= f_address.input :floor %>
        </div>
        <div class="col-md-3">
          <%= f_address.input :door %>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f_address.button :submit %>
    </div>
  <% end %>
</div>

<script>
    $(function() {
        function log( message ) {

            $( "#address_town" ).scrollTop( 0 );
            console.log('log: ' + message)
            $( "#address_town" ).val(message);

        }

        $( "#address_town" ).autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "<%= bdc_search_towns_addresses_path %>",
                    dataType: "json",
                    data: {
                        address: {
                            country:             $("#address_country").val(),
                            province_id:         $("#address_province_id").val(),
                            town:                $("#address_town").val(),
                            road_type:           $("#address_road_type").val(),
                            road_name:           $("#address_road_name").val(),
                            road_number_type_id: $("#address_road_number_type_id").val(),
                            road_number:         $("#address_road_number").val(),
                            grader:              $("#address_grader").val(),
                            stairs:              $("#address_stairs").val(),
                            floor:               $("#address_floor").val(),
                            door:                $("#address_door").val()
                        },
                    },
                    success: function( data ) {
                        console.log(data.towns)
                        response( data.towns );
                    }
                });
            },
            minLength: 3,
            select: function( event, ui ) {
                log( ui.item ?
                "Selected: " + ui.item.label :
                "Nothing selected, input was " + this.value);
            },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });
    });


    $(function() {
        function log( message ) {

            $( "#address_road_name" ).scrollTop( 0 );
            console.log('log: ' + message)
            $( "#address_road_name" ).val(message);

        }

        $( "#address_road_name" ).autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "<%= bdc_search_roads_addresses_path %>",
                    dataType: "json",
                    data: {
                        address: {
                            country:             $("#address_country").val(),
                            province_id:         $("#address_province_id").val(),
                            town:                $("#address_town").val(),
                            road_type:           $("#address_road_type").val(),
                            road_name:           $("#address_road_name").val(),
                            road_number_type_id: $("#address_road_number_type_id").val(),
                            road_number:         $("#address_road_number").val(),
                            grader:              $("#address_grader").val(),
                            stairs:              $("#address_stairs").val(),
                            floor:               $("#address_floor").val(),
                            door:                $("#address_door").val()
                        },
                    },
                    success: function( data ) {
                        console.log(data.towns)
                        response( data.towns );
                    }
                });
            },
            minLength: 3,
            select: function( event, ui ) {
                log( ui.item ?
                "Selected: " + ui.item.label :
                "Nothing selected, input was " + this.value);
            },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });
    });
</script>