<% model_class = Address %>

<div class="row">
  <div class="col-md-12">
    <%= model_title(model_class) %>
  </div>
</div>
<div class="index-panel row well">
  <div class="col-md-6">
    <%= content_tag(:div, link_to_new(model_class), class: 'col-md-6 pull-left') %>
  </div>
  <div class="col-md-6">
    <%#= content_tag(:div, search_collection(@search_q, :road_type_or_road_name_or_road_number_type_or_road_number_or_grader_or_stairs_or_floor_or_door_or_postal_code_or_town_or_province_or_country_or_ndp_code_or_local_code_or_class_name_cont), class: 'col-md-6 pull-right') %>
  </div>
</div>

<table class="index-table">
  <thead>
    <tr>
    <% model_class.main_columns.each do |column| -%>
      <th><%= sort_link(@search_q, column) %></th>
    <% end -%>

      <th class="actions index_table-actions">
        <%= t('actions') %>
      </th>
    </tr>
  </thead>
  
  <tbody>
    <%= render(partial: 'address', collection: @addresses)%>
  </tbody>
</table>

<%= render partial: "shared/pagination", locals: {collection: @addresses} %>