<% model_class = Proposal %>

<%= page_alert(model_class) %>
<%= section_title(model_plural_name(model_class)) %>

<div class="page-header clearfix">
  <%= content_tag(:div, link_to_new(model_class), class: 'pull-left') %>
  <%= content_tag(:div, search_form_for_index(@q, :name_or_comments_cont), class: 'pull-right') %>
</div>

<table id="proposals_table" class="index-table">
  <thead>
    <tr>
      <th><%= sort_link(@q, :name) %></th>
      <th><%= sort_link(@q, :comments) %></th>
      <th><%= sort_link(@q, :registry_date) %></th>
      <th><%= sort_link(@q, :approval_date) %></th>
  
      <th class="actions">
        <%= t('actions') %>
      </th>
    </tr>
  </thead>
  
  <tbody>
    <%= render(partial: 'proposal', collection: @proposals) %>
  </tbody>
</table>

<%= render partial: "shared/pagination", locals: {collection: @proposals} %>