<tr id="<%= dom_id(request_form_reason) %>" >

  <% project.main_attributes.each do |attr_name| %>
  <td><%= show_attr(request_form_reason.public_send attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(request_form_reason) %>
    <%= link_to_edit(request_form_reason) %>
<% if request_form_reason.try(:archived?) %>
    <%= link_to_recover(request_form_reason) %>
<% else %>
    <%= link_to_destroy(request_form_reason) %>
<% end %>
  </td>
</tr>
