<div class="form-inputs">
  <%= f.input :name %>
  <%= f.input :vat_num %>
  <%= f.input :email %>
  <%= f.input :contact_name %>
  <%= f.input :contact_first_surname %>
  <%= f.input :contact_second_surname %>
  <%= f.input :representative_name %>
  <%= f.input :representative_first_surname %>
  <%= f.input :representative_second_surname %>
  <%= f.input :phone_number %>
  <%= f.input :phone_number_alt %>
  <%= f.input :road_type %>
  <%= f.input :road_name %>
  <%= f.input :number_type %>
  <%= f.input :road_number %>
  <%= f.input :postal_code %>
  <%= f.input :town %>
  <%= f.input :province %>
  <%= f.association :request_reason %>
</div>

<div class="form-actions">
  <%= f.button :submit %>
</div>