<tr id="<%= dom_id(volun_assessment) %>" >

  <% volun_assessment.main_attributes.each do |attr_name| %>
  <td><%= show_attr(volun_assessment.public_send attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(volun_assessment) %>
    <%= link_to_edit(volun_assessment) %>
<% if volun_assessment.try(:archived?) %>
    <%= link_to_recover(volun_assessment) %>
<% else %>
    <%= link_to_destroy(volun_assessment) %>
<% end %>
  </td>
</tr>
