<tr id="<%= dom_id(rejection_type) %>" >

  <% rejection_type.main_attributes.each do |attr_name| %>
  <td><%= show_attr(rejection_type, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(rejection_type) %>
    <%= link_to_edit(rejection_type) %>
<% if rejection_type.try(:archived?) %>
    <%= link_to_recover(rejection_type) %>
<% else %>
    <%= link_to_destroy(rejection_type) %>
<% end %>
  </td>
</tr>
