<tr id="<%= dom_id(province) %>" >

  <% project.main_attributes.each do |attr_name| %>
  <td><%= show_attr(province.public_send attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(province) %>
    <%= link_to_edit(province) %>
<% if province.try(:archived?) %>
    <%= link_to_recover(province) %>
<% else %>
    <%= link_to_destroy(province) %>
<% end %>
  </td>
</tr>
