<tr id="<%= dom_id(rft_project_unsubscribe) %>" >

  <% rft_project_unsubscribe.main_attributes.each do |attr_name| %>
  <td><%= show_attr(rft_project_unsubscribe.public_send attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(rft_project_unsubscribe) %>
    <%= link_to_edit(rft_project_unsubscribe) %>
<% if rft_project_unsubscribe.try(:archived?) %>
    <%= link_to_recover(rft_project_unsubscribe) %>
<% else %>
    <%= link_to_destroy(rft_project_unsubscribe) %>
<% end %>
  </td>
</tr>
