<div class="well">
  <%= simple_form_for(@rt_activity_action, default_form_options) do |f| %>

  <div class="form-inputs">
          <%= f.association :activity %>
          <%= f.association :operation_type %>
          <%= f.input :notes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
</div>