<tr id="<%= dom_id(rft_activity_publishing) %>" >

  <% rft_activity_publishing.main_attributes.each do |attr_name| %>
  <td><%= show_attr(rft_activity_publishing.public_send attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(rft_activity_publishing) %>
    <%= link_to_edit(rft_activity_publishing) %>
<% if rft_activity_publishing.try(:archived?) %>
    <%= link_to_recover(rft_activity_publishing) %>
<% else %>
    <%= link_to_destroy(rft_activity_publishing) %>
<% end %>
  </td>
</tr>
