<tr id="<%= dom_id(volun_tracking) %>" >

  <% volun_tracking.main_attributes.each do |attr_name| %>
  <td><%= show_attr(volun_tracking, attr_name) %></td>
  <% end %>
  
  <td>
  <% unless volun_tracking.request_form.nil? %>
    <%= volun_tracking.request_form.request_type %>
  <% end %>
  </td>

  <td class="index_table-actions">
    <%= link_to_show(volun_tracking) %>
    <%= link_to_edit(volun_tracking) %>
  </td>
</tr>
