<% model_class = Volun::Tracking %>

<div class="row">
  <div class="col-md-12">
    <%= model_title(model_class) %>
    <%= content_tag :h3, @volunteer.name, class: 'form-subtitle' %>
  </div>
</div>
<div class="index-panel row well">
  <div class="col-md-6">
    <%= content_tag(:div, link_to_new(model_class, path_params: { volunteer_id: @volunteer.id, project_id_assoc: params[:project_id_assoc] }), class: 'col-md-6 pull-left') %>
  </div>
  <div class="col-md-6">
    <%= content_tag(:div, search_collection(@search_q, :volunteer_name_or_tracking_type_name_or_project_name_or_manager_name_or_comments_cont, hidden_fields: { q_volunteer_id_eq: @volunteer.id, project_id_assoc: params[:project_id_assoc] }), class: 'col-md-6 pull-right') %>
  </div>
</div>

<table class="index-table">
  <thead>
    <tr>
      <% model_class.main_columns.each do |column| -%>
        <th><%= sort_link(@search_q, column, model_class.human_attribute_name(column)) %></th>
      <% end %>
      
      <th><%= RequestForm.model_name.human %></th>

      <th class="actions index_table-actions">
        <%= t('actions') %>
      </th>
    </tr>
  </thead>
  
  <tbody>
    <%= render(partial: 'volun_tracking', collection: @volun_trackings)%>
  </tbody>
</table>

<%= render partial: "shared/pagination", locals: {collection: @volun_trackings} %>

<%= button_to_back %>