<tr id="<%= dom_id(image) %>" >

  <% image.main_attributes.each do |attr_name| %>
  <td><%= show_attr(image.public_send attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(image) %>
    <%= link_to_edit(image) %>
<% if image.try(:archived?) %>
    <%= link_to_recover(image) %>
<% else %>
    <%= link_to_destroy(image) %>
<% end %>
  </td>
</tr>
